<div class="subheader p-none">
  <div class="max__w__1280 m-none">
    <div class="flex__justify__space-between">
      <div class="subheader__title">Locations</div>
      <button
        id="addLocation"
        (click)="addLocation()"
        class="btn btn-primary width__auto blue__btn font14"
      >
        Add Location
      </button>
    </div>
  </div>
</div>
<div class="max__w__1280 m-none">
  <ng-container *ngIf="location$ | async as manageLocations">
    <div *ngIf="manageLocations.locations.length != 0">
      <div class="cards1 m-none">
        <table
          class="table table-striped"
          [mfData]="manageLocations.locations"
          #mf="mfDataTable"
          [mfRowsOnPage]="10"
        >
          <thead>
            <tr>
              <span
                class="text__387fea__12 mobile__view mr-sm"
                style="background: transparent"
              >
                Sort By:
              </span>
              <th>
                <mfDefaultSorter by="customId">Location ID</mfDefaultSorter>
              </th>
              <th>
                <mfDefaultSorter by="name">Location Name</mfDefaultSorter>
              </th>
              <th>
                <mfDefaultSorter by="studiesCount">
                  Associated Studies
                </mfDefaultSorter>
              </th>
              <th>Status</th>
            </tr>
          </thead>
          <tbody>
            <tr class="location_row" *ngFor="let location of mf.data">
              <td>
                <span class="tbl__td__label">Location ID:</span>
                <span
                  (click)="locationDetails(location.locationId)"
                  class="no_st_en"
                >
                  {{ location.customId }}
                </span>
              </td>
              <td>
                <span class="tbl__td__label">Location Name:</span>
                {{ location.name }}
              </td>
              <td>
                <span class="tbl__td__label">Associated Studies:</span>
                {{ location.studyNames?.length }}
              </td>
              <td>
                <span class="tbl__td__label">Status:</span>
                <span
                  [ngClass]="
                    location.status === 1 ? ' bg__green' : 'bg__light-gray'
                  "
                >
                  {{ location.status == 1 ? "Active" : "Deactivated" }}
                </span>
              </td>
            </tr>
          </tbody>
          <tfoot>
            <tr>
              <td colspan="4">
                <mfBootstrapPaginator></mfBootstrapPaginator>
              </td>
            </tr>
          </tfoot>
        </table>
      </div>
    </div>
  </ng-container>
</div>
