<div *ngIf="location$ | async as manageLocations">
  <div class="subheader p-none">
    <div class="max__w__1280 m-none">
      <div class="flex__justify__space-between">
        <div class="subheader__title">Locations</div>
        <button
          *ngIf="manageLocations.locationPermission === permission.ViewAndEdit"
          id="addLocation"
          (click)="addLocation()"
          class="btn btn-primary width__auto blue__btn font14"
        >
          Add location
        </button>
      </div>
    </div>
  </div>
  <div class="max__w__1280 m-none">
    <ng-container>
      <div>
        <div class="cards1 m-none">
          <table
            class="table table-striped custom__table"
            [mfData]="
              manageLocations.locations
                | paginate
                  : {
                      itemsPerPage: limit,
                      currentPage: currentPage,
                      totalItems: manageLocations.totalLocationsCount
                    }
            "
            #mf="mfDataTable"
            [mfRowsOnPage]="limit"
            [(mfSortBy)]="sortBy"
            [(mfSortOrder)]="sortOrder"
            (mfSortOrderChange)="onSortOrder($event)"
            (mfSortByChange)="onSortBy($event)"
          >
            <thead class="custom__thead">
              <tr>
                <span class="text__387fea__12 mobile__view mr-sm sort_by_txt">
                  Sort by:
                </span>
                <th>
                  <mfDefaultSorter by="_locationId">
                    Location ID
                  </mfDefaultSorter>
                </th>
                <th>
                  <mfDefaultSorter by="_locationName">
                    Location name
                  </mfDefaultSorter>
                </th>
                <th>Associated studies</th>
                <th>
                  <mfDefaultSorter by="_status">Status</mfDefaultSorter>
                </th>
              </tr>
            </thead>
            <tbody class="custom__tbody table_row_hover_shadow">
              <tr
                class="location_row border__bottom__red border-top__c4d1e6 progress__bar"
                *ngFor="let location of mf.data"
                (click)="locationDetails(location.locationId)"
              >
                <td>
                  <span class="tbl__td__label">Location ID:</span>
                  <span
                    (click)="locationDetails(location.locationId)"
                    class="outline__none"
                  >
                    {{ location.customId }}
                  </span>
                </td>
                <td>
                  <span class="tbl__td__label">Location name:</span>
                  <span
                    (click)="locationDetails(location.locationId)"
                    class="outline__none"
                  >
                    {{ location.name }}
                  </span>
                </td>
                <td>
                  <span class="tbl__td__label">Associated studies:</span>
                  {{ location.studyNames?.length }}
                </td>
                <td>
                  <span class="tbl__td__label">Status:</span>
                  <span
                    [ngClass]="
                      location.status === 1 ? ' txt__green' : 'txt__light-gray'
                    "
                  >
                    {{ location.status == 1 ? "Active" : "Deactivated" }}
                  </span>
                </td>
              </tr>
              <tr *ngIf="manageLocations.locations.length === 0">
                <td colspan="4" class="text-center font12 txt__light-gray">No records found</td>
              </tr>
            </tbody>

            <tfoot class="custom__tfoot">
              <tr>
                <td colspan="4">
                  <div class="text-center">
                    <pagination-controls
                      pagination-template
                      #api="paginationApi"
                      (pageChange)="pageChange($event)"
                    ></pagination-controls>
                  </div>
                </td>
              </tr>
            </tfoot>
          </table>
        </div>
      </div>
    </ng-container>
  </div>
</div>
