/*Copyright 2020 Google LLC

Use of this source code is governed by an MIT-style
license that can be found in the LICENSE file or at
https://opensource.org/licenses/MIT.*/

.child_text {
color: var(--space-gray);
font-size: 100%;
font-family: Muli, sans-serif;
font-weight: 600;
text-align: center;
margin-top: 15%;
}

.loader {
position: relative;
margin: 0 auto;
width: 100px;
}

.loader:before {
content: '';
display: block;
padding-top: 100%;
}

.child__error_page {
position: absolute;
top: 50%;
left: 50%;
transform: translate(-50%, -50%);
}

.Loader__text_error_page {
color: var(--space-gray);
font-size: 100%;
font-family: Muli, sans-serif;
font-weight: 600;
text-align: center;
margin-top: 15%;
}

@media only screen and (max-width: 580px) and (min-width: 320px) {
.child_text {
color: var(--space-gray);
font-size: 100%;
font-family: Muli, sans-serif;
font-weight: 600;
text-align: center;
margin-top: 20%;
}

.Loader__text_error_page {
color: var(--space-gray);
font-size: 100%;
font-family: Muli, sans-serif;
font-weight: 600;
text-align: center;
margin-top: 20%;
}

}

.loading_div {
position: absolute !important;
top: 50%;
left: 50%;
transform: translate(-50%, -50%);
}

/ DOUBLE SPINNER /
.double-spinner {
position: relative;
}

.dbl-spinner {
position: relative;
width: 90px;
height: 90px;
border-radius: 50%;
background-color: transparent;
border: 4px solid transparent;
border-top: 4px solid #222;
border-left: 4px solid #222;
-webkit-animation: 2s spin linear infinite;
animation: 2s spin linear infinite;
left: 30%;
}

.dbl-spinner--2 {
border: 6px solid transparent;
border-right: 6px solid #387fea;
border-bottom: 6px solid #387fea;
-webkit-animation: 1s spin linear infinite;
animation: 1s spin linear infinite;
left: 30%;
}

@keyframes rotate {
100% {
-webkit-transform: rotate(360deg);
transform: rotate(360deg);
}
}

// -webkit-@keyframes spin {
// -webkit-from {
// -webkit-transform: rotate(0deg);
// -ms-transform: rotate(0deg);
// transform: rotate(0deg);
// }
// -webkit-to {
// -webkit-transform: rotate(360deg);
// -ms-transform: rotate(360deg);
// transform: rotate(360deg);
// }
// }

@-webkit-keyframes spin {
from {
-webkit-transform: rotate(0deg);
transform: rotate(0deg);
}
to {
-webkit-transform: rotate(360deg);
transform: rotate(360deg);
}
}

@keyframes spin {
from {
-webkit-transform: rotate(0deg);
transform: rotate(0deg);
}
to {
-webkit-transform: rotate(360deg);
transform: rotate(360deg);
}
}

@-webkit-keyframes spinBack {
from {
-webkit-transform: rotate(0deg);
transform: rotate(0deg);
}
to {
-webkit-transform: rotate(-720deg);
transform: rotate(-720deg);
}
}

@keyframes spinBack {
from {
-webkit-transform: rotate(0deg);
transform: rotate(0deg);
}
to {
-webkit-transform: rotate(-720deg);
transform: rotate(-720deg);
}
}

@-webkit-keyframes spinBorder {
0% {
-webkit-transform: rotate(0deg);
transform: rotate(0deg);
border-width: 15px;
}
50% {
-webkit-transform: rotate(180deg);
transform: rotate(180deg);
border-width: 3px;
}
100% {
-webkit-transform: rotate(360deg);
transform: rotate(360deg);
border-width: 15px;
}
}

@keyframes spinBorder {
0% {
-webkit-transform: rotate(0deg);
transform: rotate(0deg);
border-width: 15px;
}
50% {
-webkit-transform: rotate(180deg);
transform: rotate(180deg);
border-width: 3px;
}
100% {
-webkit-transform: rotate(360deg);
transform: rotate(360deg);
border-width: 15px;
}
}

@-webkit-keyframes grow {
0%,
40%,
100% {
-webkit-transform: scale(0);
transform: scale(0);
}
40% {
-webkit-transform: scale(1);
transform: scale(1);
}
}
@keyframes grow {
0%,
40%,
100% {
-webkit-transform: scale(0);
transform: scale(0);
}
40% {
-webkit-transform: scale(1);
transform: scale(1);
}
}

@-webkit-keyframes triforce {
0% {
border-bottom-color: rgb(206, 181, 2);
}
40% {
border-bottom-color: rgba(206, 181, 2, 0);
}
80% {
border-bottom-color: rgb(206, 181, 2);
}
100% {
border-bottom-color: rgb(206, 181, 2);
}
}

@keyframes triforce {
0% {
border-bottom-color: rgb(206, 181, 2);
}
40% {
border-bottom-color: rgba(206, 181, 2, 0);
}
80% {
border-bottom-color: rgb(206, 181, 2);
}
100% {
border-bottom-color: rgb(206, 181, 2);
}
}

@-webkit-keyframes pulsate {
0% {
-webkit-transform: rotate(45deg) scale(0.8);
transform: rotate(45deg) scale(0.8);
transform: rotate(45deg) scale(0.8);
}
5% {
-webkit-transform: rotate(45deg) scale(0.9);
transform: rotate(45deg) scale(0.9);
}
10% {
-webkit-transform: rotate(45deg) scale(0.8);
transform: rotate(45deg) scale(0.8);
}
15% {
-webkit-transform: rotate(45deg) scale(1);
transform: rotate(45deg) scale(1);
}
50% {
-webkit-transform: rotate(45deg) scale(0.8);
transform: rotate(45deg) scale(0.8);
}
100% {
-webkit-transform: rotate(45deg) scale(0.8);
transform: rotate(45deg) scale(0.8);
}
}

@keyframes pulsate {
0% {
-webkit-transform: rotate(45deg) scale(0.8);
transform: rotate(45deg) scale(0.8);
transform: rotate(45deg) scale(0.8);
}
5% {
-webkit-transform: rotate(45deg) scale(0.9);
transform: rotate(45deg) scale(0.9);
}
10% {
-webkit-transform: rotate(45deg) scale(0.8);
transform: rotate(45deg) scale(0.8);
}
15% {
-webkit-transform: rotate(45deg) scale(1);
transform: rotate(45deg) scale(1);
}
50% {
-webkit-transform: rotate(45deg) scale(0.8);
transform: rotate(45deg) scale(0.8);
}
100% {
-webkit-transform: rotate(45deg) scale(0.8);
transform: rotate(45deg) scale(0.8);
}
}

@-webkit-keyframes opaque {
0% {
opacity: 0.1;
}
40% {
opacity: 1;
}
80% {
opacity: 0.1;
}
100% {
opacity: 0.1;
}
}

@keyframes opaque {
0% {
opacity: 0.1;
}
40% {
opacity: 1;
}
80% {
opacity: 0.1;
}
100% {
opacity: 0.1;
}
}

@-webkit-keyframes mesh {
0% {
-webkit-transform-origin: 50% -100%;
transform-origin: 50% -100%;
-webkit-transform: rotate(0);
transform: rotate(0);
}
50% {
-webkit-transform-origin: 50% -100%;
transform-origin: 50% -100%;
-webkit-transform: rotate(360deg);
transform: rotate(360deg);
}
50.1% {
-webkit-transform-origin: 50% 200%;
transform-origin: 50% 200%;
-webkit-transform: rotate(0deg);
transform: rotate(0deg);
}
100% {
-webkit-transform-origin: 50% 200%;
transform-origin: 50% 200%;
-webkit-transform: rotate(360deg);
transform: rotate(360deg);
}
}

@keyframes mesh {
0% {
-webkit-transform-origin: 50% -100%;
transform-origin: 50% -100%;
-webkit-transform: rotate(0);
transform: rotate(0);
}
50% {
-webkit-transform-origin: 50% -100%;
transform-origin: 50% -100%;
-webkit-transform: rotate(360deg);
transform: rotate(360deg);
}
50.1% {
-webkit-transform-origin: 50% 200%;
transform-origin: 50% 200%;
-webkit-transform: rotate(0deg);
transform: rotate(0deg);
}
100% {
-webkit-transform-origin: 50% 200%;
transform-origin: 50% 200%;
-webkit-transform: rotate(360deg);
transform: rotate(360deg);
}
}

@media only screen and (max-width: 968px) {
.flexbox > div {
-webkit-box-flex: 0;
-ms-flex: 0 0 33.3333333%;
flex: 0 0 33.3333333%;
}
}

@media only screen and (max-width: 768px) {
.flexbox > div {
-webkit-box-flex: 0;
-ms-flex: 0 0 50%;
flex: 0 0 50%;
}
}

@media only screen and (max-width: 568px) {
.flexbox > div {
-webkit-box-flex: 0;
-ms-flex: 0 0 100%;
flex: 0 0 100%;
}
}
