/*Copyright 2020 Google LLC
 
  Use of this source code is governed by an MIT-style
  license that can be found in the LICENSE file or at
  https://opensource.org/licenses/MIT.*/
  
:root {
  --light-gray: #8495a5;
  --green: green;
  --light-green: #34a853;
  --white: #ffffff;
  --black: #000000;
  --dark-black: #101111;
  --light-black: #202124;
  --yellow: #fbbc05;
  --blue: #1a73e8;
  --royal-blue: #387fea;
  --light-blue: #4285f4;
  --dark-blue: #007bff;
  --sea-blue: #cbddfb;
  --orange-red: #ff2525;
  --light-red: #ea4335;
  --grey: #a7b5cc;
  --slate-gray: #6d778f;
  --athens-gray: #dfe3e8;
  --shuttle-gray: #555d67;
  --oslo-gray: #9a9c9d;
  --aqua-gray: #f2f5f8;
  --space-gray: #353a3e;
  --periwinkle-gray: #c4d1e6;
  --aqualight-gray: #f1f3f4;
  --stone-gray: #73777c;
  --pigeon-gray: #b6c5db;
  --river-gray: #424e60;
  --bold-gray: #757575;
  --mystic-gray: #dfe4ec;
  --geyser-gray: #dee2e6;
  --alto-gray: #dddddd;
  --tunder-gray: #4d4d4d;
  --dark-tunder-gray: #595959;
}

body {
  font-family: "Muli", sans-serif;
}

a, a:hover {
  color: var(- -light-blue);
  font-weight: 600;
}

.centered__div {
  background: #fff;
  position: absolute;
  top: 0;
  bottom: 11%;
  left: 0;
  right: 0;
  margin: auto;
  width: 470px;
  height: 500px;
  padding: 40px 0;
  border-radius: 7px;
  box-shadow: 1px 1px 5px 0px rgba(204, 215, 226, 1);
}

.input__field {
  position: relative;
  border-top: 1px solid #b5c5de;
}

.input__field label {
  background-color: #b5c5de;
  color: #ffffff;
  position: absolute;
  top: -11px;
  left: 40px;
  font-size: 11px;
  padding: 3px 10px;
  border-radius: 3px;
}

.input__field input {
  padding: 30px 0;
  border: 0;
  width: 100%;
  text-indent: 40px;
  font-size: 20px;
  font-weight: 700;
}

.login__btn__container {
  padding-top: 30px;
  padding-left: 40px;
  padding-right: 40px;
}

.login-logo {
  text-align: center;
  padding-bottom: 20px;
}

.login-logo__text {
  text-align: center;
  padding-bottom: 50px;
  color: #353a3e;
  font-size: 25px;
  line-height: 25px;
  font-weight: 600;
}

input:focus, button:focus {
  outline: none !important;
}

footer {
  position: absolute;
  bottom: 0;
}

/*input paceholder text color */
::placeholder {
  color: #9a9c9d;
  font-size: 20px;
  font-weight: normal !important;
}

/*input paceholder text color*/
.blue__btn {
  padding: 6px 20px !important;
}

.display-flex-center {
  display: flex !important;
  align-items: center !important;
}

.blue__btn {
  color: var(- -white);
  background-color: var(- -blue) !important;
  border-color: var(- -blue) !important;
  font-size: 16px !important;
  padding: 6px 20px !important;
}

.blue__btn:hover {
  color: var(- -white) !important;
  background-color: var(- -blue) !important;
  border-color: var(- -blue) !important;
}

.blue__link {
  color: var(- -light-blue) !important;
  font-size: 80%;
  text-decoration: none;
  cursor: pointer;
  font-weight: 600;
}

.blue__link:hover {
  color: var(- -light-blue) !important;
}

.bg__aqua-gray {
  background: var(- -aqua-gray)
}

.forgot__pwd__link {
  margin-top: 10px;
  margin-left: 40px;
}

footer {
  width: 100%;
  background: var(- -aqua-gray);
  border-top: 1px solid var(- -periwinkle-gray);
  margin-top: 20px;
  padding: 17px;
  font-size: 12px;
}

footer ul {
  padding-left: 0;
  margin-bottom: 0;
}

footer ul li {
  list-style: none;
  display: inline-block;
  color: var(- -space-gray);
}

footer ul li a {
  color: var(- -space-gray);
  padding: 0 25px;
  border-right: 1px solid gray;
  font-size: 12px;
}

footer ul li:last-child a {
  border-right: 0;
}

.loader {
  margin: auto;
  position: absolute;
  left: 50%;
  top: 45%;
  transform: translate(-50%, -50%);
  text-align: center;
}

.loader img{
  width: 50px;
  margin-bottom: 10px;
  animation-name: spin;
  animation-duration: 3000ms;
  animation-iteration-count: infinite;
  animation-timing-function: linear;
}
@keyframes spin {
  from {
    transform: rotate(0deg);
  }
  to {
    transform: rotate(360deg);
  }
}

.flex__justify {
  display: flex;
  justify-content: space-between;
}

.err__msg {
  position: absolute;
  top: 21px;
  left: 40px;
  color: #F44336;
  font-size: 11px;
  font-weight: 600;
}

.cmn__error{
    position: absolute;
    bottom: 10%;
    background: #F44336;
    padding: 3px 6px;
    color: #fff;
    text-align: center;
    left: 50%;
    font-weight: 600;
    z-index: 99;
    border-radius: 3px;
    font-size: 13px;
    transform: translate(-50%, -50%);
}

/* media queries scss */
@media ( min-width : 320px) {
  .centered__div {
    width: 92%;
    bottom: 2%;
  }
  footer {
    display: block !important;
    text-align: center;
    margin-top: 20px;
  }
  .desktop {
    display: none;
  }
  .mobile {
    display: block;
  }
  .centered__div {
    height: 400px;
  }
  .height__dynamic {
    height: 400px;
  }
  footer div:first-child {
    display: none;
  }
  .input__field input {
    font-size: 16px;
    padding: 34px 0;
  }
  ::placeholder {
    font-size: 16px;
  }
}

@media ( min-width : 768px) {
  .tool::after {
    font-size: 0.75em;
    margin-left: -5em;
    width: 10em;
  }
}

@media ( min-width : 1020px) {
  footer {
    display: flex !important;
    justify-content: center;
    align-items: center;
    margin-top: 30px;
  }
  .desktop {
    display: block;
  }
  .mobile {
    display: none;
  }
  .centered__div {
    width: 470px;
    bottom: 11%;
  }
  .centered__div {
    height: 500px;
  }
  .height__dynamic {
    height: 560px;
  }
  footer {
    min-height: 70;
  }
  footer div:first-child {
    display: block;
  }
  .input__field input {
    font-size: 20px;
    padding: 30px 0;
  }
  ::placeholder {
    font-size: 16px;
  }
}