/*Copyright 2020 Google LLC
 
  Use of this source code is governed by an MIT-style
  license that can be found in the LICENSE file or at
  https://opensource.org/licenses/MIT.*/

.m-none {
  margin: 0 !important;
}

.mt-xs {
  margin-top: 5px !important;
}

.mt-sm {
  margin-top: 10px !important;
}

.mt-md {
  margin-top: 15px !important;
}

.mt-lg {
  margin-top: 20px !important;
}

.mt-xlg {
  margin-top: 30px !important;
}

.mb-none {
  margin-bottom: 0 !important;
}

.mb-xs {
  margin-bottom: 5px !important;
}

.mb-sm {
  margin-bottom: 10px !important;
}

.mb-md {
  margin-bottom: 15px !important;
}

.mb-lg {
  margin-bottom: 20px !important;
}

.mb-xlg {
  margin-bottom: 30px !important;
}

.ml-none {
  margin-left: 0 !important;
}

.ml-xs {
  margin-left: 5px !important;
}

.ml-sm {
  margin-left: 10px !important;
}

.mr-none {
  margin-right: 0 !important;
}

.mr-xs {
  margin-right: 5px !important;
}

.mr-sm {
  margin-right: 10px !important;
}

.p-none {
  padding: 0 !important;
}

.p-md {
  padding: 15px !important;
}

.p-xlg {
  padding: 30px !important;
}

.pt-none {
  padding-top: 0 !important;
}

.pt-xs {
  padding-top: 5px !important;
}

.pb-none {
  padding-bottom: 0 !important;
}

.pb-sm {
  padding-bottom: 10px !important;
}

.pb-lg {
  padding-bottom: 20px !important;
}

.pl-none {
  padding-left: 0 !important;
}

.pl-lg {
  padding-left: 20px !important;
}

.pl-xl {
  padding-left: 25px !important;
}

.pl-xlg {
  padding-left: 30px !important;
}

.pr-none {
  padding-right: 0 !important;
}

.pr-xlg {
  padding-right: 30px !important;
}



  .pr-none {
    padding-right: 0;
  }
  .pr-xlg {
    padding-right: 30px;
  }
  .flex__container {
    display: flex;
    justify-content: center;
  }
  .flex__ {
    display: flex;
  }
  .flex__unset {
    display: unset;
  }
  .flex__wrap {
    flex-wrap: wrap;
  }
  .flex__wrap__reverse {
    flex-wrap: wrap-reverse;
  }
  .flex__wrap__unset {
    flex-wrap: inherit;
  }
  .flex__row {
    display: flex;
    flex-flow: row;
  }
  .flex__row__reverse {
    display: flex;
    flex-flow: row-reverse;
  }
  .flex__justify__space-between {
    display: flex;
    justify-content: space-between;
    align-items: center;
    outline: none;
  }
  .flex__justify__center {
    justify-content: center;
  }
  .align__items__baseline {
    align-items: baseline;
  }
  .align__items__center {
    align-items: center;
  }
  .show {
    display: block;
  }
  .bg__white {
    background: var(--white) !important;
  }
  .bg__green {
    background-color: var(--light-green) !important;
  }
  .txt__green {
    color: var(--light-green) !important;
  }
  .txt__light-gray {
    color: var(--light-gray) !important;
  }
  .visibility__hidden {
    visibility: hidden;
  }
  .visibility__visibile {
    visibility: visible;
  }
  a:hover,
  a:active,
  a:focus {
    text-decoration: none;
  }
  .inline__block {
    display: inline-block;
  }
  .display__none {
    display: none;
  }
  .vis__hidden {
    visibility: hidden;
  }
  .cursor__pointer {
    cursor: pointer;
  }
  .cursor__none {
    cursor: default;
  }
  .float__right {
    float: right;
  }
  .float__left {
    float: left;
  }
  .position__relative {
    position: relative;
  }
  .display-inline-block {
    display: inline-block;
  }
  .display-flex-center {
    display: flex;
    align-items: center;
  }
  .error__msg {
    color: var(--orange-red);
    font-size: 75%;
    text-align: left;
    visibility: visible;
  }
  .overflow__auto {
    overflow: auto;
  }
  .display-inline-flex {
    display: inline-flex;
  }
  .width__auto {
    width: auto;
  }
  .width__100 {
    width: 100%;
  }
  .width__0 {
    width: 0;
  }
  .background__trans {
    background: transparent;
  }
