<header>
  <div id="desktop-menu">
    <div class="bs-example bs__example">
      <nav class="navbar navbar-expand-md p-none">
        <a href="#" class="navbar-brand">
          <img
            class="mr-sm width__auto"
            src="../../../assets/images/landing-logo.png"
            alt="main logo"
          />
          <!-- <span class="header__logo__text">FDA MyStudies</span> -->
        </a>
      </nav>
    </div>
  </div>
</header>
<section class="max__w__850 add__location">
  <form
    [formGroup]="forgotPasswordForm"
    autocomplete="off"
    (ngSubmit)="forgotPassword()"
  >
    <div class="subheader__title mb-md mt-lg">
      <a href="#" class="subheader__title">
        <img
          class="mr-sm"
          src="assets/images/left-arrow.gif"
          alt="Add new location"
        />
        <span>Password Help</span>
      </a>
    </div>
    <p class="mb-none font14">
      Please enter your registered email below to receive assistance in reseting
      your password
    </p>
    <section class="bg__white card__inside__pad box__shadow-cmn m-none">
      <div class="mt-lg">
        <div class="row">
          <div class="col-xs-12 col-md-12 p-none">
            <div class="form-group">
              <label for="email">Email</label>
              <input
                type="email"
                class="form-control"
                formControlName="email"
                id="email"
                name="email"
                placeholder="Enter Email"
                pattern="^[\w-\.\+]+@([\w-]+\.)+[\w-]{2,4}$"
                required
              />
              <div
                class="validation-error"
                *ngIf="
                  (getForgotPasswordForm.email.dirty ||
                    getForgotPasswordForm.email.touched) &&
                  getForgotPasswordForm.email.invalid
                "
              >
                <span
                  class="help-block with-errors error__msg"
                  *ngIf="getForgotPasswordForm.email.errors?.required"
                >
                  Enter your registered email.
                </span>
                <span
                  class="help-block with-errors error__msg"
                  *ngIf="getForgotPasswordForm.email.errors?.pattern"
                >
                  Enter a valid email.
                </span>
              </div>
            </div>
          </div>
        </div>
      </div>
    </section>
    <section class="btn__container flex__justify__space-between mb-xlg">
      <div>
        <button
          type="submit"
          name="submitemail"
          class="btn bt__add mr-sm"
          [disabled]="!forgotPasswordForm.valid"
        >
          Submit
        </button>
        <button type="button" class="btn bt__cancel" routerLink="/login">
          Cancel
        </button>
      </div>
    </section>
  </form>
</section>
