<section class="max__w__850 add__location">
  <div>
    <form [formGroup]="profileForm" (ngSubmit)="updateProfile()">
      <div class="mt-lg">
        <div class="subheader__title">My account</div>
        <div class="bg__white card__inside__pad box__shadow-cmn m-none">
          <div class="row border-bottom__c4d1e6">
            <div class="col-xs-12 col-md-12 p-none">
              <div class="form-group">
                <label for="email">Email</label>
                <input
                  class="form-control"
                  id="email"
                  placeholder="Enter email"
                  type="text"
                  formControlName="email"
                  readonly
                />
              </div>
            </div>
          </div>
          <div class="row">
            <div class="col-xs-12 col-md-6 p-none border-right__c4d1e6">
              <div class="form-group">
                <label for="firstName" class="txt_style_unset">
                  First name
                </label>

                <input
                  type="text"
                  class="form-control"
                  id="firstName"
                  placeholder="Enter first name"
                  formControlName="firstName"
                  pattern="^(?!\s)[A-Za-z0-9\s*()_+|:.-]*$"
                />
                <div
                  *ngIf="
                    f.firstName.invalid &&
                    (f.firstName.dirty || f.firstName.touched)
                  "
                >
                  <span
                    class="help-block with-errors error__msg"
                    *ngIf="f.firstName.errors?.required"
                  >
                    Enter a first name
                  </span>
                  <span
                    class="help-block with-errors error__msg"
                    *ngIf="f.firstName.errors?.pattern"
                  >
                    Please use characters from the following set only: A-Z a-z
                    0-9 *()_+|:.-
                  </span>
                </div>
              </div>
            </div>
            <div class="col-xs-12 col-md-6 p-none">
              <div class="form-group">
                <label for="lastName" class="txt_style_unset">Last name</label>
                <input
                  type="text"
                  class="form-control"
                  id="lastName"
                  placeholder="Enter last name"
                  formControlName="lastName"
                  pattern="^(?!\s)[A-Za-z0-9\s*()_+|:.-]*$"
                />
                <div
                  *ngIf="
                    f.lastName.invalid &&
                    (f.lastName.dirty || f.lastName.touched)
                  "
                >
                  <span
                    class="help-block with-errors error__msg"
                    *ngIf="f.lastName.errors?.required"
                  >
                    Enter a last name
                  </span>
                  <span
                    class="help-block with-errors error__msg"
                    *ngIf="f.lastName.errors?.pattern"
                  >
                    Please use characters from the following set only: A-Z a-z
                    0-9 *()_+|:.-
                  </span>
                </div>
              </div>
            </div>
          </div>
        </div>
      </div>
      <div class="btn__container flex__justify__space-between mb-lg">
        <div>
          <button
            type="submit"
            class="btn bt__add mr-sm btn_mb_2"
            [disabled]="!profileForm.valid || profileForm.pristine"
          >
            Update
          </button>
          <button
            name="cancel"
            (click)="cancel()"
            type="button"
            class="btn bt__cancel"
          >
            Cancel
          </button>
        </div>
        <div>
          <button (click)="signOut()" type="button" class="primary__btn bt__so">
            Sign out
          </button>
        </div>
      </div>
      <span>
        <a [routerLink]="['change-password']" class="font12 change__password">
          <span class="under-below">Change password?</span>
        </a>
      </span>
    </form>
  </div>
</section>
