.para_text {
  color: var(--space-gray) !important;
  font-size: 14px !important;
  font-weight: 500 !important;
}

.subheader__title:hover {
  color: var(--light-gray);
  font-size: 100%;
}

@media only screen and (max-width: 500px) and (min-width: 200px) {
  #desktop-menu {
    display: block !important;
  }
}