<header>
  <div id="desktop-menu">
    <div class="bs-example bs__example">
      <nav class="navbar navbar-expand-md p-none">
        <a href="#" class="navbar-brand">
          <img
            class="mr-sm width__auto"
            src="../../../assets/images/branding/landing-logo.png"
            alt="main logo"
          />
        </a>
      </nav>
    </div>
  </div>
</header>
<section class="subheader p-none pl-none">
  <div class="max__w__850 m-none">
    <div class="flex__justify__space-between">
      <div>
        <a
          class="subheader__title cursor__pointer txt_style_unset cursor__text"
        >
          <span>About</span>
        </a>
      </div>
    </div>
  </div>
</section>

<section class="max__w__850 add__location user__details">
  <div
    class="bg__white card__inside__pad box__shadow-cmn m-none mb__padding__lg"
  >
    <div>
      <div class="mb__mb-sm">
        <div class="p-none dashboard-card__title">{{ title }}</div>
      </div>
      <div class="participant__label">
        {{ description }}
      </div>
    </div>
  </div>
</section>
<app-footer></app-footer>
