 /*
 * Copyright 2020-2021 Google LLC
 *
 * Use of this source code is governed by an MIT-style
 * license that can be found in the LICENSE file or at
 * https://opensource.org/licenses/MIT.
 */

body {
	background: #eef2f5;
	font-family: 'Roboto', sans-serif;
	margin: 0;
}

.main__container .main__content h2 {
	color: #001871;
	font-size: 14px;
	font-weight: 600;
	text-transform: uppercase;
}

.main__container .main__content p {
	color: #2d2926;
	font-size: 14px;
}

.main__container {
	background: #fff;
	padding: 20px 0;
	border-radius: 4px;
}

.main__container .main__content {
	padding: 0 30px;
}

.main__container, .main__container__title {
	width: 90%;
	margin: auto;
}

.main__container__title {
	padding: 0;
	margin-bottom: 30px;
}

#terms {
	margin-bottom: 30px;
}

.terms__logo {
	background: #fff;
}

.terms__logo .main__container {
   padding-top: 15px;
   padding-bottom: 14px;
   margin-bottom: 30px;
   line-height: 0;
}
