<div (keydown)="mobileOnKeyDown($event)" id="mobile-menu">
  <div id="mySidenav__menubar" class="flex__justify__space-between">
    <div>
      <button
        class="openNav display-inline-block mr-sm btn pl-none"
        (click)="toggleNav()"
      >
        <img src="assets/svgs/menu-icon.svg" />
      </button>
      <a
        [ngClass]="showSearchOnClick ? ' display__none ' : 'display__block '"
        routerLink="/coordinator/studies"
      >
        <img
          class="mr-sm width__auto"
          src="../../../assets/images/branding/landing-logo.png"
          alt="main logo"
        />
        <!-- <span class="header__logo__text">FDA MyStudies</span> -->
      </a>
    </div>
    <div
      *ngIf="showSearchBar"
      class="navbar-nav inner-addon right-addon search-icon"
    >
      <div
        *ngIf="showSearchBar"
        class="position__relative searchbar__rightspace"
        [ngClass]="showSearchOnClick ? ' display__block ' : 'display__none'"
      >
        <input
          type="text"
          [attr.placeholder]="searchPlaceholder"
          autocomplete="off"
          [(ngModel)]="filterQuery"
          class="form-control search-box search__"
        />
        <button
          class="btn p-none cursor__pointer"
          (click)="hideSearchBarOnClick()"
        >
          <img class="cir__pos" src="assets/svgs/close.svg" />
        </button>
      </div>
      <div
        [ngClass]="showSearchOnClick ? ' display__none ' : 'display__block '"
      >
        <button class="btn p-none" (click)="showSearchBarOnClick()">
          <img src="assets/svgs/search.svg" />
        </button>
      </div>
    </div>
  </div>
  <div
    id="mySidenav"
    class="sidenav"
    [ngClass]="navIsOpen ? 'open__nav' : 'close__nav '"
  >
    <div [ngClass]="navIsOpen ? 'open__nav display__block ' : 'display__none '">
      <div class="mob__bo">
        <button class="closebtn btn" id="closeMobile" (click)="toggleNav()">
          ×
        </button>
        <a routerLink="/coordinator/studies">
          <img
            class="mr-sm width__auto"
            src="../../../assets/images/branding/landing-logo.png"
            alt="main logo"
          />
          <!-- <span class="header__logo__text">FDA MyStudies</span> -->
        </a>
      </div>

      <ul class="user__profile__ul">
        <li>
          <a
            class="nav-item nav-link"
            href="javascript:void(0)"
            routerLink="/coordinator/studies/sites"
            [ngClass]="{
              active: apps.isActive || sites.isActive || studies.isActive
            }"
          >
            Dashboard
          </a>
          <a
            class="nav-item nav-link"
            href="javascript:void(0)"
            routerLink="/coordinator/studies"
            routerLinkActive
            #studies="routerLinkActive"
            style="display: none"
            [routerLinkActiveOptions]="{exact: true}"
          >
            sites
          </a>
          <a
            class="nav-item nav-link"
            href="javascript:void(0)"
            routerLink="/coordinator/apps"
            routerLinkActive
            #apps="routerLinkActive"
            style="display: none"
            [routerLinkActiveOptions]="{exact: true}"
          >
            apps
          </a>
          <a
            class="nav-item nav-link"
            href="javascript:void(0)"
            routerLink="/coordinator/studies/sites"
            routerLinkActive
            #sites="routerLinkActive"
            style="display: none"
            [routerLinkActiveOptions]="{exact: true}"
          >
            studies
          </a>
        </li>
        <li>
          <a
            *ngIf="user?.manageLocations !== null || user?.superAdmin"
            routerLink="/coordinator/locations"
            routerLinkActive="active"
            class="nav-item nav-link"
          >
            Locations
          </a>
        </li>
        <li>
          <a
            *ngIf="user?.superAdmin"
            routerLink="/coordinator/users"
            routerLinkActive="active"
            class="nav-item nav-link"
          >
            Users
          </a>
        </li>
        <li>
          <a
            routerLink="/coordinator/accounts"
            routerLinkActive="active"
            class="nav-item nav-link"
          >
            My Account
          </a>
        </li>
      </ul>
    </div>
  </div>
  <div
    class="bg__overlay"
    [ngClass]="navIsOpen ? 'display__block' : 'display__none'"
  ></div>
</div>
