

.display__none {
  display: none !important;
}

.cursor__none {
  cursor: default !important;
}

.logo
{
  width:25px;
  height:25px;
  margin-top:8px;

}
#body-container .mr-sm {
  margin-right: 1px;
}