<section class="subheader p-none pl-none">
  <div class="max__w__850 m-none">
    <div class="row">
      <div>
        <a routerLink="/coordinator/locations" class="subheader__title">
          <img src="assets/svgs/back-arrow.svg" alt="" />
          <span class="pl-1">Add New Location</span>
        </a>
      </div>
    </div>
  </div>
</section>

<section class="max__w__850 add__location">
  <form
    ngForm
    #addLocationForm="ngForm"
    (ngSubmit)="addLocation()"
    autocomplete="off"
  >
    <div class="bg__white card__inside__pad box__shadow-cmn m-none">
      <div class="row border-bottom__c4d1e6">
        <div class="col-xs-12 col-md-6 p-none border-right__c4d1e6">
          <div class="form-group">
            <label for="study">Location ID</label>
            <input
              type="text"
              class="form-control"
              placeholder="Enter Location ID"
              [(ngModel)]="location.customId"
              maxlength="15"
              required
              name="customId"
              #customId="ngModel"
            />

            <div
              class="validation-error"
              *ngIf="customId.invalid && (customId.dirty || customId.touched)"
            >
              <span
                class="help-block with-errors error__msg"
                *ngIf="customId.errors?.required"
              >
                Location ID is required.
              </span>
              <span
                class="help-block with-errors error__msg"
                *ngIf="customId.errors?.maxlength"
              >
                Location ID exceeds max length (15 characters).
              </span>
              <span
                class="help-block with-errors error__msg"
                *ngIf="
                  customId.errors &&
                  !customId.errors.required &&
                  !customId.errors.maxlength
                "
              >
                Location ID is invalid.
              </span>
            </div>
          </div>
        </div>
        <div class="col-xs-12 col-md-6 p-none">
          <div class="form-group">
            <label for="app">Location Name</label>
            <input
              type="text"
              class="form-control"
              placeholder="Enter Location Name"
              [(ngModel)]="location.name"
              required
              name="name"
              maxlength="200"
              #name="ngModel"
            />

            <div
              class="validation-error"
              *ngIf="name.invalid && (name.dirty || name.touched)"
            >
              <span
                class="help-block with-errors error__msg"
                *ngIf="name.errors?.required"
              >
                Location Name is required.
              </span>
              <span
                class="help-block with-errors error__msg"
                *ngIf="name.errors?.maxlength"
              >
                Location Name exceeds max length (200 characters).
              </span>
              <span
                class="help-block with-errors error__msg"
                *ngIf="
                  name.errors && !name.errors.required && !name.errors.maxlength
                "
              >
                Location Name is invalid.
              </span>
            </div>
          </div>
        </div>
      </div>
      <div class="row">
        <div class="col-xs-12 col-md-12 p-none">
          <div class="form-group">
            <label for="Location">Description</label>
            <input
              type="text"
              class="form-control"
              placeholder="Enter Description"
              [(ngModel)]="location.description"
              required
              name="description"
              maxlength="500"
              #description="ngModel"
            />

            <div
              class="validation-error"
              *ngIf="
                description.invalid &&
                (description.dirty || description.touched)
              "
            >
              <span
                class="help-block with-errors error__msg"
                *ngIf="description.errors?.required"
              >
                Location Description is required.
              </span>
              <span
                class="help-block with-errors error__msg"
                *ngIf="description.errors?.maxlength"
              >
                Location Description exceeds max length (500 characters).
              </span>
              <span
                class="help-block with-errors error__msg"
                *ngIf="
                  description.errors &&
                  !description.errors.required &&
                  !description.errors.maxlength
                "
              >
                Location Description is invalid.
              </span>
            </div>
          </div>
        </div>
      </div>
    </div>
    <div class="btn__container">
      <button
        name="add"
        type="submit"
        class="btn bt__add mr-sm"
        [disabled]="!addLocationForm.form.valid"
      >
        Add
      </button>
      <button
        name="cancel"
        type="button"
        class="btn bt__cancel"
        routerLink="/coordinator/locations"
      >
        Cancel
      </button>
    </div>
  </form>
</section>
