**/.terraform
*.tfstate
*.tfstate.*
**/.settings
**/*.log.gz
**/.idea
**/target
**/.classpath
**/.factorypath
**/*.log
user-registration-server-ws/consent-mgmt/ConsentMgmtServicesWs.iml
participant-manager/coverage/
participant-manager/node_modules/
