**/.terraform
*.tfstate
*.tfstate.*
**/.settings
**/*.log.gz
**/.idea
**/target
**/.classpath
**/.factorypath
**/*.log
participant-datastore/consent-mgmt/ConsentMgmtServicesWs.iml
UR-web-app/coverage/
UR-web-app/node_modules/
