<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>CLIENT_ID</key>
	<string>542802122637-u91qevqjbm2p600ttstlrmm2q4hbh9pj.apps.googleusercontent.com</string>
	<key>REVERSED_CLIENT_ID</key>
	<string>com.googleusercontent.apps.542802122637-u91qevqjbm2p600ttstlrmm2q4hbh9pj</string>
	<key>API_KEY</key>
	<string>AIzaSyA1NnaXqQIgntAFtkuUbpmvR9G0q2LEE14</string>
	<key>GCM_SENDER_ID</key>
	<string>542802122637</string>
	<key>PLIST_VERSION</key>
	<string>1</string>
	<key>BUNDLE_ID</key>
	<string>com.btc.mystudiesgcp</string>
	<key>PROJECT_ID</key>
	<string>mystudies-93219</string>
	<key>STORAGE_BUCKET</key>
	<string>mystudies-93219.appspot.com</string>
	<key>IS_ADS_ENABLED</key>
	<false></false>
	<key>IS_ANALYTICS_ENABLED</key>
	<false></false>
	<key>IS_APPINVITE_ENABLED</key>
	<true></true>
	<key>IS_GCM_ENABLED</key>
	<true></true>
	<key>IS_SIGNIN_ENABLED</key>
	<true></true>
	<key>GOOGLE_APP_ID</key>
	<string>1:542802122637:ios:e9bc6411ae27bb466bcfc4</string>
	<key>DATABASE_URL</key>
	<string>https://mystudies-93219.firebaseio.com</string>
</dict>
</plist>