<section class="max__w__850 add__location">
  <div>
    <form [formGroup]="resetPasswordForm" (ngSubmit)="changePassword()">
      <div class="mt-lg">
        <div class="row">
          <div class="col-xs-6 col-md-6 pl-none">
            <a
              *ngIf="changePasswordTitle === 'Change password'"
              [routerLink]="['/coordinator/accounts']"
              class="subheader__title float-left cursor__pointer"
            >
              <img
                class="mr-sm"
                src="assets/svgs/back-arrow.svg"
                alt="Go back"
              />
            </a>
            <span class="subheader__title">{{ changePasswordTitle }}</span>
          </div>
          <div
            class="col-xs-6 col-md-6 p-1 p-lg-0 cursor__pointer"
            data-toggle="tooltip"
            title="{{ passCriteria }}"
          >
            <a class="subheader__title float-right">
              <span>
                <img
                  class="mr-xs helpout_svg cursor__pointer"
                  src="assets/svgs/help_outline.svg"
                  alt="Go back"
                />
              </span>

              <span class="subheader__title font12">Password criteria</span>
            </a>
          </div>
        </div>

        <div class="bg__white card__inside__pad box__shadow-cmn m-none">
          <div class="row border-bottom__c4d1e6">
            <div class="col-xs-12 col-md-12 p-none">
              <div class="form-group">
                <label for="oldPassword" class="txt_style_unset">
                  {{ currentPasswordlabel }}
                </label>
                <input
                  type="password"
                  formControlName="currentPassword"
                  id="currentPassword"
                  placeholder="{{ currentPasswordPlaceholder }}"
                  class="form-control"
                />
                <div
                  *ngIf="
                    ressetPassword.currentPassword.dirty ||
                    ressetPassword.currentPassword.touched
                  "
                  class="help-block with-errors error__msg"
                >
                  <span
                    class="float-left"
                    *ngIf="ressetPassword.currentPassword.errors?.required"
                  >
                    {{ currentPasswordValidationMessage }}
                  </span>
                </div>
              </div>
            </div>
          </div>

          <div class="row">
            <div class="col-xs-12 col-md-6 p-none border-right__c4d1e6">
              <div class="form-group">
                <label for="newPassword" class="txt_style_unset">
                  New password
                </label>
                <br />
                <input
                  [type]="fieldTextType ? 'text' : 'password'"
                  formControlName="newPassword"
                  id="newPassword"
                  placeholder="Enter password"
                  class="form-control"
                />
                <i
                  class="fa fa-fw field-icon toggle-password"
                  [ngClass]="{
                    'fa-eye-slash': !fieldTextType,
                    'fa-eye': fieldTextType
                  }"
                  (click)="toggleFieldTextType()"
                ></i>

                <div
                  *ngIf="
                    ressetPassword.newPassword.touched ||
                    ressetPassword.newPassword.dirty
                  "
                  class="help-block with-errors error__msg"
                >
                  <div *ngIf="ressetPassword.newPassword.dirty">
                    <span
                      [ngClass]="
                        meterStatus == 'Weak'
                          ? 'weakPwd'
                          : meterStatus == 'Fair'
                          ? 'fairPwd'
                          : meterStatus == 'Good'
                          ? 'goodPwd'
                          : 'strongPwd'
                      "
                    >
                      {{ meterStatus }}
                    </span>
                    <meter
                      low="{{ passwordMeterLow }}"
                      optimum="{{ passwordMeterOptimum }}"
                      high="{{ passwordMeterHigh }}"
                      value="{{ passwordMeterValue }}"
                    ></meter>
                  </div>
                  <div
                    *ngIf="
                      submitted ||
                      (ressetPassword.newPassword.invalid &&
                        (ressetPassword.newPassword.dirty ||
                          ressetPassword.newPassword.touched))
                    "
                    class="help-block"
                  >
                    <span
                      class="float-left"
                      *ngIf="ressetPassword.newPassword.errors?.required"
                    >
                      Enter a new password
                    </span>
                    <div
                      class="text-left"
                      *ngIf="
                        ressetPassword.newPassword.errors
                          ?.consecutiveCharactErrorwhitespace
                      "
                    >
                      {{ getError("EC_0081") }}
                    </div>
                    <div
                      class="text-left"
                      *ngIf="ressetPassword.newPassword.errors?.passwordlength"
                    >
                      {{ getError("EC_0084") }}
                    </div>
                    <div
                      class="text-left"
                      *ngIf="ressetPassword.newPassword.errors?.userNameError"
                    >
                      {{ getError("EC_0082") }}
                    </div>
                    <div
                      class="text-left"
                      *ngIf="
                        ressetPassword.newPassword.errors?.serviceNameError
                      "
                    >
                      {{ getError("EC_0083") }}
                    </div>
                  </div>
                </div>
              </div>
            </div>
            <div class="col-xs-12 col-md-6 p-none">
              <div class="form-group">
                <label for="confirmPassword" class="txt_style_unset">
                  Confirm password
                </label>
                <input
                  type="password"
                  formControlName="confirmPassword"
                  id="cpaswd"
                  placeholder="Enter password"
                  class="form-control"
                />
                <div
                  *ngIf="
                    ressetPassword.confirmPassword.invalid &&
                    (ressetPassword.confirmPassword.dirty ||
                      ressetPassword.confirmPassword.touched)
                  "
                  class="help-block with-errors error__msg"
                >
                  <div
                    class="float-left"
                    *ngIf="ressetPassword.confirmPassword.errors?.required"
                  >
                    Confirm the new password
                  </div>
                  <div
                    class="float-left"
                    *ngIf="ressetPassword.confirmPassword.errors?.mustMatch"
                  >
                    Passwords do not match
                  </div>
                </div>
              </div>
            </div>
          </div>
        </div>
      </div>
      <div class="btn__container flex__justify__space-between mb-xlg">
        <div>
          <button
            type="submit"
            class="btn bt__add mr-sm"
            [disabled]="!resetPasswordForm.valid"
          >
            Save
          </button>
          <button
            *ngIf="hideClickable"
            type="button"
            (click)="cancel()"
            class="btn bt__cancel"
          >
            Cancel
          </button>
        </div>
      </div>
    </form>
  </div>
</section>
