<section class="max__w__850 add__location">
  <div>
    <form [formGroup]="resetPasswordForm" (ngSubmit)="changePassword()">
      <div class="mt-lg">
        <div class="row">
          <div class="col-xs-6 col-md-6 pl-none">
            <a
              *ngIf="changePasswordTitle === 'Change Password'"
              [routerLink]="['/coordinator/accounts']"
              class="subheader__title float-left cursor__pointer"
            >
              <img
                class="mr-sm"
                src="assets/svgs/back-arrow.svg"
                alt="Go Back"
              />
            </a>
            <span class="subheader__title">{{ changePasswordTitle }}</span>
          </div>
          <div class="col-xs-6 col-md-6 pl-none">
            <a class="subheader__title float-right">
              <span data-toggle="tooltip" title="{{ passCriteria }}">
                <img
                  class="mr-sm helpout_svg"
                  src="assets/svgs/help_outline.svg"
                  alt="Go Back"
                />
              </span>

              <span class="subheader__title font12">Password Criteria</span>
            </a>
          </div>
        </div>

        <div class="bg__white card__inside__pad box__shadow-cmn m-none">
          <div class="row border-bottom__c4d1e6">
            <div class="col-xs-12 col-md-12 p-none">
              <div class="form-group">
                <label for="oldPassword">{{ currentPasswordlabel }}</label>
                <input
                  type="password"
                  formControlName="currentPassword"
                  id="currentPassword"
                  placeholder="{{ currentPasswordPlaceholder }}"
                  class="form-control"
                />
                <div
                  *ngIf="
                    ressetPassword.currentPassword.dirty ||
                    ressetPassword.currentPassword.touched
                  "
                  class="help-block with-errors error__msg"
                >
                  <span
                    class="float-left"
                    *ngIf="ressetPassword.currentPassword.errors?.emptyError"
                  >
                    {{ currentPasswordValidationMessage }}
                  </span>
                </div>
              </div>
            </div>
          </div>

          <div class="row">
            <div class="col-xs-12 col-md-6 p-none border-right__c4d1e6">
              <div class="form-group">
                <label for="newPassword">New password</label>
                <br />
                <input
                  type="password"
                  formControlName="newPassword"
                  id="newPassword"
                  placeholder="Enter Password"
                  class="form-control"
                />
                <div
                  *ngIf="
                    ressetPassword.newPassword.invalid &&
                    (ressetPassword.newPassword.dirty ||
                      ressetPassword.newPassword.touched)
                  "
                  class="help-block with-errors error__msg"
                >
                  <span
                    class="float-left"
                    *ngIf="ressetPassword.newPassword.errors?.emptyError"
                  >
                    Enter a new password
                  </span>
                  <span
                    class="float-left"
                    *ngIf="ressetPassword.newPassword.errors?.validPassword"
                  >
                    Your password must be 8 to 64 characters long with lower
                    case,upper case,number and special character.
                  </span>
                </div>
              </div>
            </div>
            <div class="col-xs-12 col-md-6 p-none">
              <div class="form-group">
                <label for="confirmPassword">Confirm Password</label>
                <input
                  type="password"
                  formControlName="confirmPassword"
                  id="cpaswd"
                  placeholder="Enter Password"
                  class="form-control"
                />
                <div
                  *ngIf="
                    ressetPassword.confirmPassword.invalid &&
                    (ressetPassword.confirmPassword.dirty ||
                      ressetPassword.confirmPassword.touched)
                  "
                  class="help-block with-errors error__msg"
                >
                  <div
                    class="float-left"
                    *ngIf="ressetPassword.confirmPassword.errors?.required"
                  >
                    Confirm the new password
                  </div>
                  <div
                    class="float-left"
                    *ngIf="ressetPassword.confirmPassword.errors?.mustMatch"
                  >
                    Passwords do not match
                  </div>
                </div>
              </div>
            </div>
          </div>
        </div>
      </div>
      <div class="btn__container flex__justify__space-between mb-xlg">
        <div>
          <button
            type="submit"
            class="btn bt__add mr-sm"
            [disabled]="!resetPasswordForm.valid"
          >
            Save
          </button>
          <button type="button" (click)="cancel()" class="btn bt__cancel">
            Cancel
          </button>
        </div>
      </div>
    </form>
  </div>
</section>
