<div class="subheader p-none pl-none">
  <div class="max__w__1280 m-none">
    <div class="flex__justify__space-between">
      <div>
        <a
          routerLink="/coordinator/locations"
          class="subheader__title cursor__pointer"
        >
          <img src="assets/svgs/back-arrow.svg" alt="Backwards" />
        </a>
        <span class="pl-1">Location details</span>
      </div>
      <div *ngIf="locationBackup.locationPermission === permission.ViewAndEdit">
        <button
          class="btn font12__light-grey p-none"
          name="edit_location"
          (click)="openModal(template)"
        >
          <img class="mr-xs" src="assets/svgs/edit.svg" alt="edit" />
          <span class="text__deco font12__light-grey">
            Edit location details
          </span>
        </button>
      </div>
    </div>
  </div>
</div>
<div>
  <div class="max__w__1280 add__location">
    <div class="card__inside__pad m-none p-lg">
      <div class="bg__white box__shadow-cmn dsk__view_tbl">
        <div class="border-bottom__c4d1e6 flex__justify__space-between">
          <div>
            <div class="form-group">
              <div class="label">
                Location<span class="visibility__hidden">_</span>ID
              </div>
              <div class="font16__grey">{{ locationBackup.customId }}</div>
            </div>
          </div>
          <div>
            <div class="form-group">
              <div class="label txt_style_unset">
                Location<span class="visibility__hidden">_</span>name
              </div>
              <div class="font16__grey ln-brk-anywhere">
                {{ locationBackup.name }}
              </div>
            </div>
          </div>
          <div>
            <div class="form-group">
              <div
                [ngClass]="
                  locationBackup.status == 1 ? 'active__' : 'deactive__'
                "
              >
                {{ locationBackup.status == 1 ? "Active" : "Deactivated" }}
              </div>
            </div>
          </div>
        </div>

        <div class="form-group">
          <div class="label">Description</div>
          <div class="font16__grey ln-brk-anywhere">
            {{ locationBackup.description }}
          </div>
        </div>
      </div>
      <table class="table custom__table mbl__view_tbl">
        <thead class="custom__thead">
          <tr>
            <span class="text__387fea__12 mobile__view mr-sm sort_by_txt pt-1">
              Sort by:
            </span>
            <th>Location ID</th>
            <th>Location name</th>
            <th>Status</th>
            <th>Description</th>
          </tr>
        </thead>
        <tbody class="custom__tbody table_row_hover_shadow">
          <tr
            class="location_row border__bottom__red border-top__c4d1e6 progress__bar"
          >
            <td>
              <span class="tbl__td__label">
                Location
                <span class="visibility__hidden">_</span>
                ID:
              </span>
              <span class="outline__none">
                {{ location.customId }}
              </span>
            </td>
            <td>
              <span class="tbl__td__label">
                Location
                <span class="visibility__hidden">_</span>
                name:
              </span>
              <span class="outline__none ln-brk-anywhere">
                {{ location.name }}
              </span>
            </td>
            <td>
              <span class="tbl__td__label">Status:</span>
              <span
                [ngClass]="
                  locationBackup.status == 1 ? 'active__' : 'deactive__'
                "
                class="outline__none ln-brk-anywhere"
              >
                {{ locationBackup.status == 1 ? "Active" : "Deactivated" }}
              </span>
            </td>
            <td>
              <span class="tbl__td__label">Description</span>
              <span class="outline__none ln-brk-anywhere">
                {{ locationBackup.description }}
              </span>
            </td>
          </tr>
        </tbody>
      </table>
    </div>

    <div
      *ngIf="locationBackup.studyNames?.length != 0"
      class="cards__list mb-xlg"
    >
      <div class="subheader__title mb-lg mt-xlg">
        Associated studies ( {{ locationBackup.studyNames?.length }} )
      </div>
      <ul data-test="studiesCount" class="box___shadow__radius">
        <li *ngFor="let study of locationBackup.studyNames">{{ study }}</li>
      </ul>
    </div>
  </div>
  <ng-template #template>
    <edit-location
      [location]="location"
      [locationId]="locationId"
      (closeModalEvent)="closeModal($event)"
    ></edit-location>
  </ng-template>
</div>
