<div class="bg__white card__inside__pad box__shadow-cmn m-none">
  <a [routerLink]="['/coordinator/accounts']">back arrow</a>
  <span>Change password</span>
  <div class="row">
    <form [formGroup]="resetPasswordForm" (ngSubmit)="changePassword()">
      <div>
        <div class="form-group">
          <label for="oldPassword">Old Password</label>
          <input
            type="password"
            formControlName="currentPassword"
            id="currentPassword"
            placeholder="Current Passsword"
            class="form-control"
          />
          <div
            *ngIf="
              ressetPassword.currentPassword.invalid &&
              (ressetPassword.currentPassword.dirty ||
                ressetPassword.currentPassword.touched)
            "
            class="help-block with-errors error__msg"
          >
            <div *ngIf="ressetPassword.currentPassword.errors?.required">
              Please enter current password
            </div>
          </div>
        </div>
      </div>

      <div>
        <div class="form-group">
          <label for="newPassword">New password</label>
          <br />
          <input
            type="password"
            formControlName="newPassword"
            id="newPassword"
            placeholder="New Password"
            class="form-control"
          />
          <div
            *ngIf="
              ressetPassword.newPassword.invalid &&
              (ressetPassword.newPassword.dirty ||
                ressetPassword.newPassword.touched)
            "
            class="help-block with-errors error__msg"
          >
            <div *ngIf="ressetPassword.newPassword.errors?.validPassword">
              Please enter valid password
            </div>
          </div>
        </div>

        <div class="form-group">
          <label for="confirmPassword">Confirm Password</label>
          <input
            type="password"
            formControlName="confirmPassword"
            id="cpaswd"
            placeholder="Confirm Password"
            class="form-control"
          />
          <div
            *ngIf="
              ressetPassword.confirmPassword.invalid &&
              (ressetPassword.confirmPassword.dirty ||
                ressetPassword.confirmPassword.touched)
            "
            class="help-block with-errors error__msg"
          >
            <div *ngIf="ressetPassword.confirmPassword.errors?.required">
              Please confirm password
            </div>
            <div *ngIf="ressetPassword.confirmPassword.errors?.mustMatch">
              Passwords must match
            </div>
          </div>
        </div>

        <div class="btn__container flex__justify__space-between mb-xlg">
          <div>
            <button
              type="submit"
              class="btn bt__add mr-sm"
              [disabled]="!resetPasswordForm.valid"
            >
              Update Password
            </button>
            <button type="button" class="btn bt__cancel" disabled>
              Cancel
            </button>
          </div>
        </div>
      </div>
    </form>
  </div>
</div>
