<section class="subheader p-none pl-none">
  <div class="max__w__850 m-none">
    <div class="row">
      <div class="col-xs-12 col-md-12 pl-none">
        <a
          routerLink="/coordinator/users"
          class="subheader__title cursor__pointer"
        >
          <img src="assets/svgs/back-arrow.svg" alt="Go Back" />
        </a>
        <span class="pl-2">Add new admin</span>
      </div>
    </div>
  </div>
</section>

<section class="max__w__850 add__location">
  <form #addUserForm="ngForm" autocomplete="off" (submit)="add()">
    <section class="bg__white card__inside__pad box__shadow-cmn m-none">
      <div class="row border-bottom__c4d1e6">
        <div class="col-xs-12 col-md-6 p-none border-right__c4d1e6">
          <div class="form-group">
            <label for="fname" class="txt_style_unset">First name</label>
            <input
              placeholder="Enter first name"
              type="text"
              class="form-control"
              id="fname"
              maxlength="50"
              [(ngModel)]="user.firstName"
              name="firstName"
              #firstName="ngModel"
              required
              pattern="^(?!\s)[A-Za-z0-9\s*()_+|:.-]*$"
            />
            <div
              class="validation-error"
              *ngIf="
                firstName.invalid && (firstName.dirty || firstName.touched)
              "
            >
              <span
                class="help-block with-errors error__msg"
                *ngIf="firstName.errors?.required"
              >
                Enter a first name
              </span>
              <span
                class="help-block with-errors error__msg"
                *ngIf="firstName.errors?.pattern"
              >
                Please use characters from the following set only: A-Z a-z 0-9
                *()_+|:.-
              </span>
            </div>
          </div>
        </div>
        <div class="col-xs-12 col-md-6 p-none">
          <div class="form-group">
            <label for="lname" class="txt_style_unset">Last name</label>
            <input
              type="text"
              maxlength="50"
              [(ngModel)]="user.lastName"
              name="lastName"
              #lastName="ngModel"
              required
              pattern=".*[^ ].*"
              class="form-control"
              id="lname"
              placeholder="Enter last name"
              pattern="^(?!\s)[A-Za-z0-9\s*()_+|:.-]*$"
            />

            <div
              *ngIf="lastName.invalid && (lastName.dirty || lastName.touched)"
            >
              <span
                class="help-block with-errors error__msg"
                *ngIf="lastName.errors?.required"
              >
                Enter a last name
              </span>
              <span
                class="help-block with-errors error__msg"
                *ngIf="lastName.errors?.pattern"
              >
                Please use characters from the following set only: A-Z a-z 0-9
                *()_+|:.-
              </span>
            </div>
          </div>
        </div>
      </div>
      <div class="row">
        <div class="col-xs-12 col-md-6 p-none border-right__c4d1e6">
          <div class="form-group">
            <label for="emailId">Email</label>
            <input
              type="email"
              class="form-control"
              id="emailId"
              placeholder="Enter email"
              [(ngModel)]="user.email"
              pattern="[a-zA-Z0-9\+\.\_\%\-\+]{1,256}\@[a-zA-Z0-9][a-zA-Z0-9\-]{0,64}(\.[a-zA-Z0-9][a-zA-Z0-9\-]{0,25})+"
              name="emailText"
              #emailText="ngModel"
              required
            />
            <div
              *ngIf="
                emailText.invalid && (emailText.dirty || emailText.touched)
              "
            >
              <span
                class="help-block with-errors error__msg"
                *ngIf="emailText.errors?.required"
              >
                Enter an email
              </span>
              <span
                class="help-block with-errors error__msg"
                *ngIf="emailText.errors?.pattern"
              >
                Enter a valid email
              </span>
            </div>
          </div>
        </div>
        <div class="col-xs-12 col-md-6 p-none flex__justify__space-between">
          <div class="form-group">
            <label>Role</label>
            <div class="custom__labels">
              <input
                type="checkbox"
                id="role"
                [(ngModel)]="user.superAdmin"
                name="superAdminCheckBox"
                #superAdminCheckBox="ngModel"
                (change)="superAdminCheckBoxChange()"
              />
              <label class="mt-xs custom_text_transform" for="role">
                Assign superadmin role
                <span
                  class="tool"
                  data-tip="A superadmin has application-wide permissions.
Superadmins can manage users of the Participant Manager and in addition, can manage locations and all sites, studies and apps. Non-superadmin users or Site Admins, will have permission-based access to manage locations and specific sites, studies and apps only. "
                  tabindex="1"
                >
                  <i
                    class="fa fa-info-circle ml-xs info_i"
                    aria-hidden="true"
                  ></i>
                </span>
              </label>
            </div>
          </div>
        </div>
      </div>
    </section>
    <div *ngIf="!user.superAdmin">
      <h2 class="subheader__title mb-sm">Permissions</h2>

      <section class="bg__white card__inside__pad box__shadow-cmn m-none">
        <div class="row">
          <div class="col-xs-12 col-md-12 p-none">
            <div class="form-group">
              <div class="custom__labels">
                <input
                  type="checkbox"
                  id="location"
                  [(ngModel)]="user.manageLocationsSelected"
                  name="manageLocationsSelected"
                  #manageLocationsSelected="ngModel"
                  [ngModelOptions]="{standalone: true}"
                  (change)="locationsCheckBoxChange()"
                />
                <label class="text-initial" for="location">
                  Allow access to locations
                </label>
              </div>
              <div class="pl-xl pt-xs">
                <span>
                  <input
                    [value]="permission.View"
                    type="radio"
                    id="location_view_permssion"
                    name="radio-group2"
                    [(ngModel)]="user.manageLocations"
                    name="manageLocationsPermission"
                    #manageLocationsPermission="ngModel"
                    [ngModelOptions]="{standalone: true}"
                    [disabled]="!user.manageLocationsSelected"
                  />
                  <label for="location_view_permssion">View</label>
                </span>
                <span>
                  <input
                    [value]="permission.ViewAndEdit"
                    type="radio"
                    id="location_view_edit_permssion"
                    name="radio-group2"
                    [(ngModel)]="user.manageLocations"
                    name="manageLocationsPermission"
                    #manageLocationsPermission="ngModel"
                    [ngModelOptions]="{standalone: true}"
                    [disabled]="!user.manageLocationsSelected"
                  />
                  <label
                    for="location_view_edit_permssion"
                    class="font12 txt_style_unset"
                  >
                    View and edit
                  </label>
                </span>
              </div>
            </div>
          </div>
        </div>
      </section>
      <section class="bg__white card__inside__pad box__shadow-cmn m-none">
        <div class="form-group pb-0">
          <div class="user__card__title pb-lg">Sites, studies and apps</div>
          <div class="select__form-control__parent">
            <label class="wrap pb-1 text-initial">Add an app</label>
            <ng-select
              [items]="appDetails.apps"
              [clearable]="false"
              [multiple]="true"
              bindLabel="name"
              class="form-control select__form-control"
              placeholder="Enter app ID or name"
              [hideSelected]="true"
              [(ngModel)]="selectedApps"
              [ngModelOptions]="{standalone: true}"
              notFoundText="No records found"
            ></ng-select>
          </div>
        </div>
        <div class="form-group pt-none">
          <div class="accordion" id="accordionExample">
            <div *ngFor="let app of selectedApps" class="card">
              <div class="flex__justify__space-between">
                <div class="acc__dele mob_custom_width">
                  <div class="card-header">
                    <div
                      class="mb-0 flex__justify__space-between mob_display-flowroot"
                    >
                      <div>
                        <div class="custom__labels">
                          <input
                            type="checkbox"
                            #permissionCheckBox
                            id="appCheckBox{{ app.id }}"
                            [(ngModel)]="app.selected"
                            [ngModelOptions]="{standalone: true}"
                            (change)="appCheckBoxChange(app)"
                          />
                          <label for="appCheckBox{{ app.id }}">
                            {{ app.name }}
                            <span class="app__id ml-xs">
                              ({{ app.customId }})
                            </span>
                          </label>
                        </div>
                        <div class="pl-xl pt-xs">
                          <span>
                            <input
                              type="radio"
                              [value]="permission.View"
                              [(ngModel)]="app.permission"
                              [disabled]="!app.selected"
                              [ngModelOptions]="{standalone: true}"
                              id="appRadioView{{ app.id }}"
                              name="appRadioGroup{{ app.id }}"
                              (change)="appRadioButtonChange(app)"
                            />
                            <label
                              class="font12"
                              for="appRadioView{{ app.id }}"
                            >
                              View
                            </label>
                          </span>
                          <span>
                            <input
                              type="radio"
                              [value]="permission.ViewAndEdit"
                              [(ngModel)]="app.permission"
                              [disabled]="!app.selected"
                              [ngModelOptions]="{standalone: true}"
                              id="appRadioEdit{{ app.id }}"
                              name="appRadioGroup{{ app.id }}"
                              (change)="appRadioButtonChange(app)"
                            />
                            <label
                              for="appRadioEdit{{ app.id }}"
                              class="font12 txt_style_unset"
                            >
                              View and edit
                            </label>
                          </span>
                        </div>
                      </div>
                      <div class="clearfix"></div>
                      <div
                        class="app__id_num flex__justify__space-between mob_pull_right"
                      >
                        <div class="pr-2">
                          {{
                            app.selectedSitesCount
                              | i18nPlural: sitesMessageMapping
                          }}
                        </div>
                        <div
                          class="fa__plus__minus mob_pull_right"
                          type="button"
                          data-toggle="collapse"
                          [attr.data-target]="'#collapse' + app.id"
                          aria-expanded="false"
                        ></div>
                      </div>
                    </div>
                  </div>
                  <div
                    id="collapse{{ app.id }}"
                    class="collapse"
                    data-parent="#accordionExample"
                  >
                    <div class="card-body">
                      <div
                        class="accordion sub__accordian card-body__pad"
                        id="accordionExample{{ app.id }}"
                      >
                        <div class="orange__text__sm pb-sm"></div>

                        <div class="card" *ngFor="let study of app.studies">
                          <div class="card-header">
                            <div
                              class="mb-0 flex__justify__space-between mob_display-flowroot"
                            >
                              <div>
                                <div class="custom__labels">
                                  <input
                                    #permissionCheckBox
                                    (change)="studyCheckBoxChange(study, app)"
                                    [disabled]="app.selected"
                                    type="checkbox"
                                    id="studyCheckBox{{ study.studyId }}"
                                    [(ngModel)]="study.selected"
                                    [ngModelOptions]="{standalone: true}"
                                  />
                                  <label
                                    class="font14"
                                    for="studyCheckBox{{ study.studyId }}"
                                  >
                                    {{ study.studyName }}
                                  </label>
                                </div>
                                <div class="custom__labels__radio">
                                  <span>
                                    <input
                                      [disabled]="
                                        app.selected || !study.selected
                                      "
                                      type="radio"
                                      [value]="permission.View"
                                      [(ngModel)]="study.permission"
                                      [ngModelOptions]="{standalone: true}"
                                      id="studyRadioView{{ study.studyId }}"
                                      name="studyRadioGroup{{ study.studyId }}"
                                      (change)="studyRadioButtonChange(study)"
                                    />
                                    <label
                                      for="studyRadioView{{ study.studyId }}"
                                    >
                                      View
                                    </label>
                                  </span>
                                  <span>
                                    <input
                                      [disabled]="
                                        app.selected || !study.selected
                                      "
                                      type="radio"
                                      [value]="permission.ViewAndEdit"
                                      [(ngModel)]="study.permission"
                                      [ngModelOptions]="{standalone: true}"
                                      id="studyRadioEdit{{ study.studyId }}"
                                      name="studyRadioGroup{{ study.studyId }}"
                                      (change)="studyRadioButtonChange(study)"
                                    />
                                    <label
                                      for="studyRadioEdit{{ study.studyId }}"
                                      class="font12 txt_style_unset"
                                    >
                                      View and edit
                                    </label>
                                  </span>
                                </div>
                              </div>
                              <div
                                class="app__id_num flex__justify__space-between"
                              >
                                <div class="orange__text__sm font-12 pr-2">
                                  {{
                                    study.selectedSitesCount
                                      | i18nPlural: sitesMessageMapping
                                  }}
                                </div>
                                <div
                                  class="fa__plus__minus mob_pull_right"
                                  type="button"
                                  data-toggle="collapse"
                                  [attr.data-target]="
                                    '#collapseTwo' + study.studyId
                                  "
                                  aria-expanded="false"
                                ></div>
                              </div>
                            </div>
                          </div>
                          <div
                            id="collapseTwo{{ study.studyId }}"
                            class="collapse"
                            [attr.data-parent]="'#accordionExample' + app.id"
                          >
                            <div class="card-body">
                              <div class="orange__text__sm pad__T10__B20">
                                {{
                                  study.selectedSitesCount
                                    | i18nPlural: sitesMessageMapping
                                }}
                              </div>
                              <div
                                *ngFor="let site of study.sites"
                                class="pb-sm"
                              >
                                <div class="custom__labels">
                                  <input
                                    #permissionCheckBox
                                    (change)="
                                      siteCheckBoxChange(site, study, app)
                                    "
                                    [disabled]="study.selected"
                                    type="checkbox"
                                    id="siteCheckBox{{ site.siteId }}"
                                    [ngModelOptions]="{standalone: true}"
                                    [(ngModel)]="site.selected"
                                  />
                                  <label for="siteCheckBox{{ site.siteId }}">
                                    {{ site.locationName }}
                                  </label>
                                </div>
                                <div class="custom__labels__radio">
                                  <span>
                                    <input
                                      [disabled]="
                                        study.selected || !site.selected
                                      "
                                      type="radio"
                                      [value]="permission.View"
                                      [(ngModel)]="site.permission"
                                      [ngModelOptions]="{standalone: true}"
                                      id="siteRadioRead{{ site.siteId }}"
                                      name="siteRadioGroup{{ site.siteId }}"
                                    />
                                    <label for="siteRadioRead{{ site.siteId }}">
                                      View
                                    </label>
                                  </span>
                                  <span>
                                    <input
                                      [disabled]="
                                        study.selected || !site.selected
                                      "
                                      type="radio"
                                      [value]="permission.ViewAndEdit"
                                      [(ngModel)]="site.permission"
                                      [ngModelOptions]="{standalone: true}"
                                      id="siteRadioEdit{{ site.siteId }}"
                                      name="siteRadioGroup{{ site.siteId }}"
                                    />
                                    <label
                                      for="siteRadioEdit{{ site.siteId }}"
                                      class="font12 txt_style_unset"
                                    >
                                      View and edit
                                    </label>
                                  </span>
                                </div>
                              </div>
                            </div>
                          </div>
                        </div>
                      </div>
                    </div>
                  </div>
                </div>
                <button
                  class="btn btn p-none pull-right"
                  (click)="deleteAppFromList(app.id)"
                >
                  <img src="assets/svgs/delete.svg" alt="Delete" />
                </button>
              </div>
            </div>
          </div>
        </div>
      </section>
    </div>
    <section class="btn__container">
      <button
        [disabled]="!addUserForm.form.valid || disableButton"
        type="submit"
        name="add"
        class="btn bt__add bt__add__auto mr-sm mb-2 mt-2"
      >
        Add admin user and invite
      </button>
      <button
        type="button"
        class="btn bt__cancel"
        routerLink="/coordinator/users"
      >
        Cancel
      </button>
    </section>
  </form>
</section>
