# This configuration file can be used to generate a self-signed certificate for https
# You will nee to add this certificate to the keystores of your platform components
# You may also need to direct your browser and other clients to trust your certificate

[req]
# These values do not need to be changed
distinguished_name = req_distinguished_name
x509_extensions = v3_req
prompt = no
 
[req_distinguished_name]
# Update these values if desired
C  = US              # 2 letter country code
ST = CA              # State
L  = MTV             # Locality
O  = MyStudies       # Organization 
OU = Demo            # Organizational unit
CN = localhost       # Common name
 
[v3_req]
# These values do not need to be changed
keyUsage = nonRepudiation, digitalSignature, keyEncipherment
extendedKeyUsage = serverAuth
subjectAltName = @alt_names
 
[alt_names]
# Subject alternative names specify what other domains this certificate applies to (e.g. 10.128.0.2)
# If your MyStudies deployment uses multiple domains, you may add them here
# If your domain is an IP addresses, it must be configured as a subject alterntive name rather than of a common name
IP.1 = 
IP.2 = 
IP.3 = 
IP.4 = 
IP.5 = 
