//  Copyright 2020 Google LLC
//
//  Use of this source code is governed by an MIT-style
//  license that can be found in the LICENSE file or at
//  https://opensource.org/licenses/MIT.
//
// Configuration settings file format documentation can be found at:
// https://help.apple.com/xcode/#/dev745c5c974
//
// Server configuration
// By default App will connect to network over HTTPS, in order to connect over HTTP
// Change the settings in HPHC/Networking/Configurations/Environment/APIConfiguration.swift
// Update the enum `AppProtocol` getter value for Debug and Release.
//
// Update the App Transport Security Settings in info.plist
// Set `Allow Arbitrary Loads` to YES and `Allow Arbitrary Loads in Web Content` to YES to connect over HTTP
// Set `Allow Arbitrary Loads` to NO and `Allow Arbitrary Loads in Web Content` to NO to connect over HTTPS

// URL of study metadata server.
// e.g. mystudiesdeployment.com/StudyMetaData/
WCP_URL = xxxxxx

// URL of response datastore.
// e.g. mystudiesdeployment.com/mystudies-response-server/
RESPONSE_URL = xxxxxxxxx

// URL of different service bundles within participant datastore.
// e.g. mystudiesdeployment.com/myStudiesUserMgmtWS/
REGISTRATION_URL = xxxxxxx
// e.g. mystudiesdeployment.com/myStudiesEnrollmentMgmt/
ENROLLMENT_URL = xxxxxx
// e.g. mystudiesdeployment.com/myStudiesConsentMgmtWS/
CONSENTMGMT_URL = xxxxxx

// URL of oauth scim services.
// e.g. mystudiesdeployment.com/oauth-scim-service
AUTH_URL = xxxxxx

// URL of Hydra server.
// e.g. mystudiesdeployment.com/oauth2
HYDRA_BASE_URL = xxxxx

// HYDRA_CLIENT_ID is a client ID for OAuth.
HYDRA_CLIENT_ID = xxxx

// This is used to generate base64 basic Authorization token for WCP WS validation.
AUTH_USERNAME = xxxxx
AUTH_PASSWORD = xxxxxxxxxxxx

// API_KEY is <bundleid>:<apptoken>
// These values should match the ones set in study metadata server.
REGISTRATIONSERVER_API_KEY = xxxxxxxx

// SHA-256 of the byte representation of the secret used by mobile apps.
// In terraform deployment, this values is stored as `mystudies-ma-secret-key`
//
// For more details see implementation of getHashedValue in:
// response-server-ws/src/main/java/com/google/cloud/healthcare/fdamystudies/utils/ResponseServerUtil.java
REGISTRATIONSERVER_API_SECERET = xxxxxxxxxxx

// OrgID used for this application.
ORG_ID = xxxxxx

// AppID of this application.
// Study builder would use this appID to match studies to apps.
//
// should be max 15 character, human readable and URL safe.
// If following terraform deployment steps, these APP_ID and ORG_ID
// should match the ones you manually set in GCP secret manager.
APP_ID = xxxxxx
