<!-- 
  Copyright 2020 Google LLC
 
  Use of this source code is governed by an MIT-style
  license that can be found in the LICENSE file or at
  https://opensource.org/licenses/MIT. -->

<!DOCTYPE html>
<html xmlns="http://www.w3.org/1999/xhtml"
  xmlns:th="https://www.thymeleaf.org">
<head>
<link rel="stylesheet"
  href="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.7/css/bootstrap.min.css">
<link rel="stylesheet" th:href="@{/css/style.css}">
<link rel="stylesheet" th:href="@{/css/utilities.css}">
<meta name="viewport" content="width=device-width, initial-scale=1.0">

</head>
<body class="bg__aqua-gray">
  <div class="loader">
    <img th:src="@{/images/error-info.svg}">
    <div>
      <div>Sign in is not available.</div>
      <div>Please try again later.</div>
    </div>
  </div>
</body>
</html>
