<!-- 
  Copyright 2020 Google LLC
 
  Use of this source code is governed by an MIT-style
  license that can be found in the LICENSE file or at
  https://opensource.org/licenses/MIT. -->

<!DOCTYPE html>
<html xmlns="http://www.w3.org/1999/xhtml"
  xmlns:th="https://www.thymeleaf.org">
<head>
<title>Login</title>

<link rel="stylesheet"
  href="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.7/css/bootstrap.min.css">
<link rel="stylesheet" th:href="@{/css/style.css}">
<link rel="stylesheet" th:href="@{/css/utilities.css}">
<link rel="stylesheet"
  href="https://fonts.googleapis.com/css?family=Muli:200,200i,300,300i,400,400i,500,500i,600,600i,700,700i,800,800i,900,900i&display=swap">

<meta name="viewport" content="width=device-width, initial-scale=1.0">
<script type="text/javascript" th:src="@{/js/login.js}"></script>

</head>
<body class="bg__aqua-gray">
  <form th:action="@{/login}" method="POST" id="loginForm" novalidate
    onsubmit="return validateform();" th:object="${loginRequest}">
    <div class="centered__div box__shadow-cmn">
      <div class="signin__container">
        <div>
          <div class="desktop">
            <div class="text-center login-logo">
              <img th:src="@{/images/google-logo.png}" alt="" />
            </div>
          </div>
          <div class="input__field">
            <div class="err__msg" id="email_error" style="display: none">Enter an email</div>
            <label>Email</label> <input type="email" name="email"
              th:field="*{email}" id="email" placeholder="Enter your email"
              value="" required="required"
              onblur="validateField('email');" />
          </div>
          <div class="input__field">
            <div class="err__msg" id="password_error"
              style="display: none">Please enter valid password</div>
            <label>Password</label> <input type="password"
              th:field="*{password}" name="password" id="password"
              placeholder="Enter your password" required="required"
              minlength="8" maxlength="64" value="" pattern="^(?=.*[0-9])(?=.*[a-z])(?=.*[A-Z])(?=.*[^a-zA-Z0-9])(?=\S+$).{8,64}$"
              onblur="validateField('password');" />
          </div>

        </div>

        <div class="input__field">
          <div class="col-md-12 p-none forgot__pwd__link mobile">
            <a class="blue__link forgot__pwd"
              th:href="${forgot_password_link}">Forgot password?</a>
          </div>
          <div class="display-flex-center login__btn__container">
            <div class="col-md-7 pl-none">
              <button type="submit"
                class="btn btn-primary width__auto blue__btn">Sign
                In</button>
            </div>
            <div class="col-md-5 pr-none text-right">
              <a class="blue__link forgot__pwd desktop"
                th:href="${forgot_password_link}">Forgot password?</a> <span
                class="mobile" th:if="${mobileApp}">New user?
                <a th:href="${signup_link}" class="sign__up">Sign up</a>
              </span>
            </div>
          </div>
          <div class="clearfix"></div>
        </div>
      </div>
    </div>
    <div class="cmn__error"
      th:if="${!#strings.isEmpty(error_description)}"
      th:text="${error_description}" />
  </form>

  <footer>
    <div>&copy; 2019 FDA MyStudies. All rights reserved.</div>
    <div>
      <ul>
        <li th:if="${!mobileApp}"><a th:href="${about_link}">About</a></li>
        <li th:if="${!mobileApp}"><a th:href="${terms_link}">Terms
            of Service</a></li>
        <li th:if="${mobileApp}"><a th:href="${terms_link}">Terms</a></li>
        <li th:if="${mobileApp}"><a
          th:href="${privacy_policy_link}">Privacy Policy</a></li>
      </ul>
    </div>
  </footer>
</body>
</html>
