<!-- 
  Copyright 2020 Google LLC
 
  Use of this source code is governed by an MIT-style
  license that can be found in the LICENSE file or at
  https://opensource.org/licenses/MIT. -->

<!DOCTYPE html>
<html xmlns="http://www.w3.org/1999/xhtml"
  xmlns:th="https://www.thymeleaf.org">
<head>
<title>Sign in</title>

<link rel="stylesheet"
  href="https://stackpath.bootstrapcdn.com/bootstrap/4.3.1/css/bootstrap.min.css" />
<link rel="stylesheet" th:href="@{/css/style.css}">
<link rel="stylesheet" th:href="@{/css/utilities.css}">
<link rel="stylesheet" href="../static/css/login.scss" />
<link rel="stylesheet"
  href="https://fonts.googleapis.com/css?family=Muli:200,200i,300,300i,400,400i,500,500i,600,600i,700,700i,800,800i,900,900i&display=swap">
<!-- Bootstrap core CSS -->
<link
  href="https://getbootstrap.com/docs/4.0/dist/css/bootstrap.min.css"
  rel="stylesheet" />
<!-- Custom styles for this template -->
<link
  href="https://getbootstrap.com/docs/4.0/examples/sticky-footer/sticky-footer.css"
  rel="stylesheet" />
<meta name="viewport" content="width=device-width, initial-scale=1.0">
<script type="text/javascript" th:src="@{/js/login.js}"></script>

</head>
<body class="my-login-page bg__aqua-gray">
  <section class="h-100">
    <div class="container-fluid h-100 h-100">
      <div class="row justify-content-md-center h-100">
        <div class="card-wrapper">
          <div class="card fat">
            <div class="card-body bg__aqua-gray">
              <form th:action="@{/login}" method="POST" id="loginForm"
                novalidate onsubmit="return validateform();"
                th:object="${loginRequest}">
                <div
                  class="centered__div centered__div__mobile box__shadow-cmn">
                  <div class="signin__container">
                    <div>
                      <div>
                        <div class="text-center login-logo">
                          <img th:src="@{/images/google-logo.png}"
                            alt="" />
                        </div>
                        <div
                          class="font24__grey text-center login-logo__text">Sign
                          in</div>
                      </div>
                      <div class="input__field">
                        <label>Email</label> <input type="email"
                          name="email" th:field="*{email}" id="email"
                          placeholder="Enter your email" value=""
                          required="required"
                          onblur="validateField('email');" />
                        <div class="err__msg" id="email_error"
                          style="display: none">Enter an email</div>
                      </div>
                      <div class="input__field">
                        <label>Password</label> <input type="password"
                          th:field="*{password}" name="password"
                          id="password"
                          placeholder="Enter your password"
                          required="required" minlength="8"
                          maxlength="64" value=""
                          pattern="^(?=.*[0-9])(?=.*[a-z])(?=.*[A-Z])(?=.*[^a-zA-Z0-9])(?=\S+$).{8,64}$"
                          onblur="validateField('password');" />
                        <div class="err__msg" id="password_error"
                          style="display: none">Please enter valid
                          password</div>
                      </div>
                    </div>
                    <div class="input__field">
                      <div
                        class="input__feild pb-2 login__btn__container">
                        <div
                          class="col-md-12 col-xs-12 pr-none pl-none text-left">
                          <a class="blue__link forgot__pwd mobile"
                            th:href="${forgot_password_link}">Forgot
                            Password?</a>
                        </div>
                      </div>
                      <div
                        class="input__feild pt-0 mob_mt display-flex-center login__btn__container">
                        <div class="pl-none">
                          <button type="submit"
                            class="btn btn-primary width__auto blue__btn">Sign
                            in</button>
                        </div>
                        <div class="col-md-9 pr-none pl-none text-right">
                          <a class="blue__link forgot__pwd desktop"
                            th:href="${forgot_password_link}">Forgot
                            Password?</a> <span
                            class="mobile sign__up forgot__pwd costom_ml"
                            th:if="${mobileApp}">New user? <a
                            th:href="${signup_link}" class="blue__link">Sign
                              up</a>
                          </span>
                        </div>
                      </div>
                      <div class="clearfix"></div>
                    </div>
                  </div>
                </div>
                <div class="cmn__error"
                  th:if="${!#strings.isEmpty(error_description)}"
                  th:text="${error_description}" />
              </form>
            </div>
          </div>
          <div class="clearfix"></div>
          <div class="clearfix"></div>
        </div>
      </div>
    </div>
  </section>
  <footer class="custom_footer text-center">
    <div>&copy; Copyright 2020 Google LLC</div>
    <div>
      <ul>
        <li th:if="${!mobileApp}"><a th:href="${about_link}">About</a></li>
        <li th:if="${!mobileApp}"><a th:href="${terms_link}">Terms
            of Service</a></li>
        <li th:if="${mobileApp}"><a th:href="${terms_link}">Terms</a></li>
        <li th:if="${mobileApp}"><a
          th:href="${privacy_policy_link}">Privacy Policy</a></li>
      </ul>
    </div>
  </footer>
</body>
</html>
