@media only screen and (max-width: 800px) and (min-width: 500px) {
    .tab_pull_right {
      float: right !important;
      text-align: right !important;
    }
  
    .mb__width__100 {
      width: 100% !important;
  }
  }