<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<array>
	<dict>
		<key>title</key>
		<string>Welcome to ValidCare Study</string>
		<key>text</key>
		<string>Health and wellness research powered by you!</string>
		<key>type</key>
		<string>video</string>
		<key>image</key>
		<string>welcomeBg</string>
		<key>videoLink</key>
		<string>https://videolinkhere.com</string>
	</dict>
	<dict>
		<key>title</key>
		<string>Your Contributions Help You &amp; Others Like You</string>
		<key>text</key>
		<string>Thanks for your interest in joining us in leading-edge research about how food, supplements, and drugs may affect you and your health and well-being.  Your contributions provide you insight into how what you use or consume affects you, but you also contribute to determining optimal use for people like you.</string>
		<key>type</key>
		<string></string>
		<key>image</key>
		<string>img_01</string>
		<key>videoLink</key>
		<string></string>
	</dict>
</array>
</plist>
