:root {
  --light-gray: #8495a5;
  --green: green;
  --light-green: #34a853;
  --white: #ffffff;
  --black: #000000;
  --dark-black: #101111;
  --light-black: #202124;
  --yellow: #fbbc05;
  --blue: #1a73e8;
  --royal-blue: #387fea;
  --light-blue: #4285f4;
  --dark-blue: #007bff;
  --sea-blue: #cbddfb;
  --orange-red: #ff2525;
  --light-red: #ea4335;
  --grey: #a7b5cc;
  --slate-gray: #6d778f;
  --athens-gray: #dfe3e8;
  --shuttle-gray: #555d67;
  --oslo-gray: #9a9c9d;
  --aqua-gray: #f2f5f8;
  --space-gray: #353a3e;
  --periwinkle-gray: #c4d1e6;
  --aqualight-gray: #f1f3f4;
  --stone-gray: #73777c;
  --pigeon-gray: #b6c5db;
  --river-gray: #424e60;
  --bold-gray: #757575;
  --mystic-gray: #dfe4ec;
  --geyser-gray: #dee2e6;
  --alto-gray: #dddddd;
  --tunder-gray: #4d4d4d;
  --dark-tunder-gray: #595959;
}
