/* Spacements */
/* spacement top & bottom */
.m-none {
  margin: 0 !important;
}

.m-auto {
  margin: 0 auto !important;
}

.m-xs {
  margin: 5px !important;
}

.m-sm {
  margin: 10px !important;
}

.m-md {
  margin: 15px !important;
}

.m-lg {
  margin: 20px !important;
}

.m-xl {
  margin: 25px !important;
}

.m-xlg {
  margin: 30px !important;
}

/* spacement top	*/
.mt-none {
  margin-top: 0 !important;
}

.mt-xs {
  margin-top: 5px !important;
}

.mt-sm {
  margin-top: 10px !important;
}

.mt-md {
  margin-top: 15px !important;
}

.mt-lg {
  margin-top: 20px !important;
}

.mt-xl {
  margin-top: 25px !important;
}

.mt-xlg {
  margin-top: 30px !important;
}

.mt-xxlg {
  margin-top: 40px !important;
}

/* spacement bottom	*/
.mb-none {
  margin-bottom: 0 !important;
}

.mb-xs {
  margin-bottom: 5px !important;
}

.mb-sm {
  margin-bottom: 10px !important;
}

.mb-md {
  margin-bottom: 15px !important;
}

.mb-lg {
  margin-bottom: 20px !important;
}

.mb-xl {
  margin-bottom: 25px !important;
}

.mb-xlg {
  margin-bottom: 30px !important;
}

.mb-xxlg {
  margin-bottom: 40px !important;
}

/* spacement left	*/
.ml-none {
  margin-left: 0 !important;
}

.ml-xs {
  margin-left: 5px !important;
}

.ml-sm {
  margin-left: 10px !important;
}

.ml-md {
  margin-left: 15px !important;
}

.ml-lg {
  margin-left: 20px !important;
}

.ml-xl {
  margin-left: 25px !important;
}

.ml-xlg {
  margin-left: 30px !important;
}

/* spacement right	*/
.mr-none {
  margin-right: 0 !important;
}

.mr-xs {
  margin-right: 5px !important;
}

.mr-sm {
  margin-right: 10px !important;
}

.mr-md {
  margin-right: 15px !important;
}

.mr-lg {
  margin-right: 20px !important;
}

.mr-xl {
  margin-right: 25px !important;
}

.mr-xlg {
  margin-right: 30px !important;
}

/* Spacement Padding */
.p-none {
  padding: 0 !important;
}

.p-xs {
  padding: 5px !important;
}

.p-sm {
  padding: 10px !important;
}

.p-md {
  padding: 15px !important;
}

.p-lg {
  padding: 20px !important;
}

.p-xl {
  padding: 25px !important;
}

.p-xlg {
  padding: 30px !important;
}

/* spacement top	*/
.pt-none {
  padding-top: 0 !important;
}

.pt-xs {
  padding-top: 5px !important;
}

.pt-sm {
  padding-top: 10px !important;
}

.pt-md {
  padding-top: 15px !important;
}

.pt-lg {
  padding-top: 20px !important;
}

.pt-xl {
  padding-top: 25px !important;
}

.pt-xlg {
  padding-top: 30px !important;
}

.pt-xxlg {
  padding-top: 40px !important;
}

.pt-xxxlg {
  padding-top: 50px !important;
}

/* spacement bottom	*/
.pb-none {
  padding-bottom: 0 !important;
}

.pb-xs {
  padding-bottom: 5px !important;
}

.pb-sm {
  padding-bottom: 10px !important;
}

.pb-md {
  padding-bottom: 15px !important;
}

.pb-lg {
  padding-bottom: 20px !important;
}

.pb-xl {
  padding-bottom: 25px !important;
}

.pb-xlg {
  padding-bottom: 30px !important;
}

.pb-xxlg {
  padding-bottom: 40px !important;
}

.pb-xxxlg {
  padding-bottom: 50px !important;
}

/* spacement left	*/
.pl-none {
  padding-left: 0 !important;
}

.pl-xs {
  padding-left: 5px !important;
}

.pl-sm {
  padding-left: 10px !important;
}

.pl-md {
  padding-left: 15px !important;
}

.pl-lg {
  padding-left: 20px !important;
}

.pl-xl {
  padding-left: 25px !important;
}

.pl-xlg {
  padding-left: 30px !important;
}
.pl-xxlg {
  padding-left: 40px !important;
}

/* spacement right	*/
.pr-none {
  padding-right: 0 !important;
}

.pr-xs {
  padding-right: 5px !important;
}

.pr-sm {
  padding-right: 10px !important;
}

.pr-md {
  padding-right: 15px !important;
}

.pr-lg {
  padding-right: 20px !important;
}

.pr-xl {
  padding-right: 25px !important;
}

.pr-xlg {
  padding-right: 30px !important;
}

/* End Spacements */

.text-weight-light {
  font-weight: 200 !important;
}

.text-weight-normal {
  font-weight: 400 !important;
}

.text-weight-semibold {
  font-weight: 600 !important;
}

.text-weight-bold {
  font-weight: 700 !important;
}

.text-uppercase {
  text-transform: uppercase;
}

.text-lowercase {
  text-transform: lowercase;
}

.text-capitalize {
  text-transform: capitalize;
}

.text-center {
  text-align: center !important;
}

.text-left {
  text-align: left !important;
}

.text-right {
  text-align: right !important;
}

a:hover,
a:active,
a:focus {
  text-decoration: none !important;
}

a.w-link,
a.w-link:hover {
  color: #fff;
  text-decoration: none;
}

.inline__block {
  display: inline-block;
}

.display__none {
  display: none;
}

.vis__hidden {
  visibility: hidden !important;
}
.cursor__pointer {
  cursor: pointer !important;
}
.cursor__none {
  cursor: default !important;
}
.float__right {
  float: right;
}
.float__left {
  float: left;
}
.position__relative {
  position: relative;
}
.display-inline-block {
  display: inline-block !important;
}
.display-flex-center {
  display: flex !important;
  align-items: center !important;
}
.display-webkit-box {
  display: -webkit-box;
}
.flex__row {
  display: flex;
  flex-flow: row;
}
.flex__row__reverse {
  display: flex;
  flex-flow: row-reverse;
}
.error__msg {
  color: #ff2525;
  font-size: 12px;
  text-align: right;
  visibility: visible;
}
.overflow__auto {
  overflow: auto;
}
.font12 {
  font-size: 12px;
}
.font11 {
  font-size: 11px;
}
.font13 {
  font-size: 13px;
}

.width__auto {
  width: auto !important;
}
/************theme.css******************/
