<section class="subheader p-none pl-none">
  <div class="max__w__850 m-none">
    <div class="flex__justify__space-between">
      <div>
        <a class="subheader__title cursor__pointer">
          <span>Terms and Condition</span>
        </a>
      </div>
    </div>
  </div>
</section>

<section class="max__w__850 add__location user__details">
  <div
    class="bg__white card__inside__pad box__shadow-cmn m-none mb__padding__lg"
  >
    <div>
      <div class="mb__mb-sm">
        <div class="p-none dashboard-card__title">Title style goes here</div>
      </div>

      <div class="participant__label">
        Lorem Ipsum is simply dummy text of the printing and typesetting
        industry. Lorem Ipsum has been the industry's standard dummy text ever
        since the 1500s, when an unknown printer took a galley of type and
        scrambled it to make a type specimen book. It has survived not only five
        centuries, but also the leap into electronic typesetting, remaining
        essentially unchanged. It was popularised in the 1960s with the release
        of Letraset sheets containing Lorem Ipsum passages, and more recently
        with desktop publishing software like Aldus PageMaker including versions
        of Lorem Ipsum.
      </div>
    </div>

    <div>
      <div class="mb__mb-sm mt-4">
        <div class="p-none dashboard-card__title">Title style goes here</div>
      </div>

      <div class="participant__label">
        Lorem Ipsum is simply dummy text of the printing and typesetting
        industry. Lorem Ipsum has been the industry's standard dummy text ever
        since the 1500s, when an unknown printer took a galley of type and
        scrambled it to make a type specimen book. It has survived not only five
        centuries, but also the leap into electronic typesetting, remaining
        essentially unchanged. It was popularised in the 1960s with the release
        of Letraset sheets containing Lorem Ipsum passages, and more recently
        with desktop publishing software like Aldus PageMaker including versions
        of Lorem Ipsum.
      </div>
    </div>
  </div>
</section>
