yStudies/MyStudies.xcworkspace/xcshareddata
MyStudies/MyStudies.xcworkspace/xcuserdata
MyStudies/ResearchKit.xcodeproj/xcshareddata
MyStudies/Pods/Pods.xcodeproj/xcshareddata
MyStudies/Pods/Pods.xcodeproj/xcuserdata
MyStudies/MyStudies/Dev.xcconfig
MyStudies/MyStudies/QA.xcconfig
MyStudies/MyStudies.xcodeproj/xcshareddata
