<ng-container *ngIf="participant$ | async as participant">
  <div class="site__details">
    <section
      *ngIf="participant.participantDetails"
      class="subheader p-none pl-none"
    >
      <div class="max__w__1280 m-none">
        <div class="flex__justify__space-between">
          <div
            class="subheader__title flex__justify__space-between align__items__baseline"
          >
            <div (click)="backClicked()">
              <a class="subheader__title cursor__pointer">
                <img src="assets/svgs/back-arrow.svg" alt="go back" />
              </a>
            </div>
            <div class="pl-1">
              <div class="mb-xs">Participant details</div>
              <div class="display-inline-flex overflow__auto">
                <div
                  *ngIf="
                    participant.participantDetails.studyType !== studyTypes.Open
                  "
                  class="pr-xlg"
                >
                  <div class="banner__label">
                    {{ participant.participantDetails.customLocationId }}
                  </div>
                  <div class="banner__text">
                    {{ participant.participantDetails.locationName }}
                  </div>
                </div>
                <div
                  *ngIf="
                    participant.participantDetails.studyType === studyTypes.Open
                  "
                  class="pr-xlg"
                >
                  <div class="banner__label">SITE</div>
                  <div class="banner__text">NA (Open study)</div>
                </div>
                <div class="pr-xlg">
                  <div class="banner__label">
                    {{ participant.participantDetails.customStudyId }}
                    -
                    <span
                      [ngClass]="{
                        active_text:
                          participant.participantDetails.studyStatus ===
                          studyStatus.Active,
                        paused_text:
                          participant.participantDetails.studyStatus ===
                          studyStatus.Paused,
                        deactivated_text:
                          participant.participantDetails.studyStatus ===
                          studyStatus.Deactivated
                      }"
                    >
                      {{ participant.participantDetails.studyStatus }}
                    </span>
                  </div>
                  <div class="banner__text">
                    {{ participant.participantDetails.studyName }}
                  </div>
                </div>
                <div>
                  <div class="banner__label">
                    {{ participant.participantDetails.customAppId }}
                  </div>
                  <div class="banner__text">
                    {{ participant.participantDetails.appName }}
                  </div>
                </div>
              </div>
            </div>
          </div>

          <section
            *ngIf="
              participant.participantDetails.studyType !== studyTypes.Open &&
              participant.participantDetails.sitePermission ===
                permission.ViewAndEdit
            "
            class="desk__view"
          >
            <div class="flex__justify__space-between">
              <div
                class="mr-sm"
                *ngIf="
                  participant.participantDetails.onboardingStatus !==
                    onBoardingStatus.Disabled &&
                  participant.participantDetails.studyStatus !==
                    studyStatus.Deactivated &&
                  participant.participantDetails.siteStatus !== 0
                "
              >
                <button
                  [disabled]="
                    hasCompletedEnrollment(participant.participantDetails)
                  "
                  name="sendInvite"
                  class="btn banner__primary__btn white__text flex__row__reverse pad__5__13 font14"
                  (click)="
                    sendInvitation(participant.participantDetails.siteId)
                  "
                >
                  {{ sendResend }}
                </button>
              </div>
              <div
                *ngIf="
                  participant.participantDetails.studyStatus !==
                    studyStatus.Deactivated &&
                  participant.participantDetails.siteStatus !== 0
                "
              >
                <button
                  [disabled]="
                    hasCompletedEnrollment(participant.participantDetails)
                  "
                  name="toggleInvite"
                  class="btn banner__default__btn flex__row__reverse pad__5__13 font14"
                  (click)="
                    toggleInvitation(
                      participant.participantDetails.siteId,
                      participant.participantDetails.onboardingStatus
                    )
                  "
                >
                  {{ enableDisable }}
                </button>
              </div>
            </div>
          </section>
        </div>
      </div>
    </section>

    <section
      *ngIf="
        participant.participantDetails.studyType !== studyTypes.Open &&
        participant.participantDetails.sitePermission ===
          permission.ViewAndEdit &&
        participant.participantDetails.studyStatus !==
          studyStatus.Deactivated &&
        participant.participantDetails.siteStatus !== 0
      "
      class="subheader p-none pl-none mobile__view border-top__c4d1e6"
    >
      <div class="flex__ flex__justify__center">
        <button
          [disabled]="hasCompletedEnrollment(participant.participantDetails)"
          name="sendInvite"
          class="btn banner__primary__btn white__text flex__row__reverse pad__5__13 font14"
          (click)="sendInvitation(participant.participantDetails.siteId)"
        >
          {{ sendResend }}
        </button>
        <button
          [disabled]="hasCompletedEnrollment(participant.participantDetails)"
          name="toggleInvite"
          class="btn banner__default__btn flex__row__reverse pad__5__13 font14"
          (click)="
            toggleInvitation(
              participant.participantDetails.siteId,
              participant.participantDetails.onboardingStatus
            )
          "
        >
          {{ enableDisable }}
        </button>
      </div>
    </section>

    <section class="max__w__1280 m-none site__participant">
      <div
        class="bg__white card__inside__pad box__shadow-cmn m-none mb__padding__lg"
      >
        <div class="blue__text__md">Participant email</div>
        <div class="participant__label font26">
          {{ participant.participantDetails.email }}
        </div>
        <table class="width__100 mt-4">
          <thead>
            <tr>
              <th>
                <div class="blue__text__md">Onboarding status</div>
              </th>
              <th>
                <div class="blue__text__md">Last invitation sent</div>
              </th>

              <th>
                <div class="blue__text__md">Enrollment status</div>
              </th>
              <th class="mb__mt-sm">
                <div class="blue__text__md">Date of enrollment</div>
              </th>
              <th class="mb__mt-sm">
                <div class="blue__text__md">Date of withdrawal</div>
              </th>
            </tr>
          </thead>
          <tbody>
            <tr>
              <td class="font14">
                <span
                  *ngIf="
                    participant.participantDetails.studyType !== studyTypes.Open
                  "
                  [ngClass]="{
                    'txt__green':
                      participant.participantDetails.onboardingStatus ==
                      onBoardingStatus.Invited,
                    'txt__light-gray':
                      participant.participantDetails.onboardingStatus ==
                      onBoardingStatus.Disabled
                  }"
                >
                  {{ participant.participantDetails.onboardingStatus }}
                </span>
                <span
                  *ngIf="
                    participant.participantDetails.studyType === studyTypes.Open
                  "
                  class="participant__label"
                >
                  NA
                </span>
              </td>
              <td class="font14">
                <span
                  *ngIf="
                    participant.participantDetails.studyType !== studyTypes.Open
                  "
                  class="inactive__text"
                >
                  {{ participant.participantDetails.invitationDate }}
                </span>
                <span
                  *ngIf="
                    participant.participantDetails.studyType === studyTypes.Open
                  "
                  class="inactive__text"
                >
                  NA
                </span>
              </td>

              <table class="display__contents">
                <td class="font14">
                  <span
                    [ngClass]="{
                      'txt__green':
                        participant.participantDetails.enrollmentStatus ==
                        enrollmentStatus.Enrolled,
                      'txt__light-gray':
                        participant.participantDetails.enrollmentStatus ==
                        enrollmentStatus.Withdrawn
                    }"
                  >
                    {{ participant.participantDetails.enrollmentStatus }}
                  </span>
                </td>
                <td class="mb__mt-sm inactive__text font14">
                  <span>
                    {{ participant.participantDetails.enrollmentDate }}
                  </span>
                </td>
                <td class="mb__mt-sm inactive__text font14">
                  <span>
                    {{ participant.participantDetails.withdrawalDate }}
                  </span>
                </td>
              </table>
            </tr>
          </tbody>
        </table>
      </div>
      <h2 class="subheader__title text-weight-semibold mb-sm">
        Enrollment history
      </h2>

      <table class="table table-striped custom__table">
        <tr>
          <th>Date of enrollment</th>
          <th>Date of withdrawal</th>
          <th>&nbsp; Last enrollment status</th>
          <th>&nbsp;</th>
          <th>&nbsp;</th>
          <th>&nbsp;</th>
        </tr>
        <tr
          *ngFor="
            let enrollmentDetails of participant.participantDetails.enrollments
          "
        >
          <td>
            <span>{{ enrollmentDetails.enrollmentDate }}</span>
          </td>
          <td>
            <span>{{ enrollmentDetails.withdrawalDate }}</span>
          </td>
          <td>
            <span
              [ngClass]="{
                'txt__green':
                  enrollmentDetails.enrollmentStatus ==
                  enrollmentStatus.Enrolled,
                'txt__light-gray':
                  enrollmentDetails.enrollmentStatus ==
                  enrollmentStatus.Withdrawn
              }"
            >
              &nbsp; {{ enrollmentDetails.enrollmentStatus }}
            </span>
          </td>
          <td>&nbsp;</td>
          <td>&nbsp;</td>
          <td>&nbsp;</td>
        </tr>
        <tr *ngIf="participant.participantDetails.enrollments.length === 0">
          <td colspan="6" class="text-center font12 txt__light-gray">
            No records found
          </td>
        </tr>
      </table>

      <h2 class="subheader__title text-weight-semibold mb-sm">
        Consent history
      </h2>

      <div class="cards1 m-none">
        <table
          class="table table-striped custom__table"
          [mfData]="participant.participantDetails.consentHistory"
          #mf="mfDataTable"
          [mfRowsOnPage]="5"
        >
          <thead class="custom__thead">
            <tr>
              <span
                class="sort__by__text mobile__view mr-sm"
                style="background: transparent"
              >
                Sort by:
              </span>
              <th>
                <mfDefaultSorter by="consentVersion">
                  Consent version
                </mfDefaultSorter>
              </th>
              <th>
                <mfDefaultSorter by="consentedDate">
                  Consented date
                </mfDefaultSorter>
              </th>
              <th>
                <mfDefaultSorter by="dataSharingPermissions">
                  Data sharing permissions
                </mfDefaultSorter>
              </th>
              <th>
                <mfDefaultSorter by="consentDocumentPath">
                  Consent document
                </mfDefaultSorter>
              </th>
            </tr>
          </thead>
          <tbody class="custom__tbody">
            <tr *ngFor="let consentDetails of mf.data">
              <td>{{ consentDetails.consentVersion }}</td>
              <td>
                {{
                  consentDetails.consentedDate
                    ? consentDetails.consentedDate
                    : "N/A"
                }}
              </td>
              <td>
                {{
                  consentDetails.dataSharingPermissions
                    ? consentDetails.dataSharingPermissions
                    : "N/A"
                }}
              </td>
              <td>
                <button class="btn" (click)="downloadPDF(consentDetails.id)">
                  <img
                    src="assets/svgs/pdf.svg"
                    alt="downloadImage"
                    class="mr-xs"
                  />
                  <span class="download__">Download</span>
                </button>
              </td>
            </tr>

            <tr
              *ngIf="participant.participantDetails.consentHistory.length === 0"
            >
              <td colspan="4" class="text-center font12 txt__light-gray">
                No records found
              </td>
            </tr>
          </tbody>

          <tfoot class="custom__tfoot">
            <tr>
              <td colspan="4">
                <mfBootstrapPaginator></mfBootstrapPaginator>
              </td>
            </tr>
          </tfoot>
        </table>
      </div>
    </section>
  </div>
</ng-container>
