<ng-container *ngIf="participant$ | async as participant">
  <section
    *ngIf="participant.participantDetails"
    class="subheader p-none pl-none"
  >
    <div class="max__w__1280 m-none">
      <div class="flex__justify__space-between">
        <div
          class="subheader__title flex__justify__space-between align__items__baseline"
        >
          <div (click)="backClicked()">
            <a class="subheader__title"></a>
            <img src="assets/svgs/back-arrow.svg" alt="go back" />
          </div>
          <div>
            <div class="mb-xs">Participant Details</div>
            <div class="display-inline-flex overflow__auto">
              <div
                *ngIf="
                  participant.participantDetails.studyType !== studyTypes.Open
                "
                class="pr-xlg"
              >
                <div class="banner__label">
                  {{ participant.participantDetails.customLocationId }}
                </div>
                <div class="banner__text">
                  {{ participant.participantDetails.locationName }}
                </div>
              </div>
              <div
                *ngIf="
                  participant.participantDetails.studyType === studyTypes.Open
                "
                class="pr-xlg"
              >
                <div class="banner__label">SITE</div>
                <div class="banner__text">NA</div>
              </div>
              <div class="pr-xlg">
                <div class="banner__label">
                  {{ participant.participantDetails.customStudyId }}
                </div>
                <div class="banner__text">
                  {{ participant.participantDetails.studyName }}
                </div>
              </div>
              <div>
                <div class="banner__label">
                  {{ participant.participantDetails.customAppId }}
                </div>
                <div class="banner__text">
                  {{ participant.participantDetails.appName }}
                </div>
              </div>
            </div>
          </div>
        </div>
        <section
          *ngIf="participant.participantDetails.studyType !== studyTypes.Open"
          class="desk__view"
        >
          <div class="flex__justify__space-between">
            <div
              class="mr-sm"
              *ngIf="
                participant.participantDetails.onboardingStatus !==
                onBoardingStatus.Disabled
              "
            >
              <button
                [disabled]="
                  hasCompletedEnrollment(participant.participantDetails)
                "
                name="sendInvite"
                class="btn banner__primary__btn white__text flex__row__reverse pad__5__13 font14"
                (click)="sendInvitation(participant.participantDetails.siteId)"
              >
                {{ sendResend }}
              </button>
            </div>
            <div>
              <button
                [disabled]="
                  hasCompletedEnrollment(participant.participantDetails)
                "
                name="toggleInvite"
                class="btn banner__default__btn flex__row__reverse pad__5__13 font14"
                (click)="
                  toggleInvitation(
                    participant.participantDetails.siteId,
                    participant.participantDetails.onboardingStatus
                  )
                "
              >
                {{ enableDisable }}
              </button>
            </div>
          </div>
        </section>
      </div>
    </div>
  </section>

  <section
    *ngIf="participant.participantDetails.studyType !== studyTypes.Open"
    class="subheader p-none pl-none mobile__view border-top__c4d1e6"
  >
    <div class="flex__ flex__justify__center">
      <button
        [disabled]="hasCompletedEnrollment(participant.participantDetails)"
        name="sendInvite"
        class="btn banner__primary__btn white__text flex__row__reverse pad__5__13 font14"
        (click)="sendInvitation(participant.participantDetails.siteId)"
      >
        {{ sendResend }}
      </button>
      <button
        [disabled]="hasCompletedEnrollment(participant.participantDetails)"
        name="toggleInvite"
        class="btn banner__default__btn flex__row__reverse pad__5__13 font14"
        (click)="
          toggleInvitation(
            participant.participantDetails.siteId,
            participant.participantDetails.onboardingStatus
          )
        "
      >
        {{ enableDisable }}
      </button>
    </div>
  </section>

  <section class="max__w__1280 m-none site__participant">
    <div
      class="bg__white card__inside__pad box__shadow-cmn m-none mb__padding__lg"
    >
      <div class="blue__text__md">Participant Email</div>
      <div class="participant__label">
        {{ participant.participantDetails.email }}
      </div>
      <div>
        <div class="mb__mb-sm">
          <div class="blue__text__md">Participant Email</div>
          <div class="font24">{{ participant.participantDetails.email }}</div>
        </div>
        <div>
          <div class="flex__justify__space-between flex__wrap">
            <div>
              <div class="blue__text__md">Onboarding Status</div>
              <div
                *ngIf="
                  participant.participantDetails.studyType !== studyTypes.Open
                "
                class="participant__label"
              >
                {{ participant.participantDetails.onboardingStatus }}
              </div>
              <div
                *ngIf="
                  participant.participantDetails.studyType === studyTypes.Open
                "
                class="participant__label"
              >
                NA
              </div>
            </div>
            <div>
              <div class="blue__text__md">Last Invitation Sent</div>
              <div
                *ngIf="
                  participant.participantDetails.studyType !== studyTypes.Open
                "
                class="inactive__text"
              >
                {{ participant.participantDetails.invitationDate }}
              </div>
              <div
                *ngIf="
                  participant.participantDetails.studyType === studyTypes.Open
                "
                class="inactive__text"
              >
                NA
              </div>
            </div>
            <div
              *ngFor="
                let enrollmentDetails of participant.participantDetails
                  .enrollments
              "
            >
              <div>
                <div class="blue__text__md">Enrollment Status</div>
                <div class="inactive__text">
                  {{ enrollmentDetails.enrollmentStatus }}
                </div>
              </div>
              <div class="mb__mt-sm">
                <div class="blue__text__md">Date of Enrollment</div>
                <div class="inactive__text">
                  {{ enrollmentDetails.enrollmentDate }}
                </div>
              </div>
              <div class="mb__mt-sm">
                <div class="blue__text__md">Date of Withdrawal</div>
                <div class="inactive__text">
                  {{ enrollmentDetails.withdrawalDate }}
                </div>
              </div>
            </div>
          </div>
        </div>
      </div>
    </div>

    <h2 class="subheader__title mb-sm">Consent History</h2>

    <section class="cards1 m-none">
      <table
        class="table table-striped"
        [mfData]="participant.participantDetails.consentHistory"
        #mf="mfDataTable"
        [mfRowsOnPage]="10"
      >
        <thead>
          <tr>
            <span
              class="sort__by__text mobile__view mr-sm"
              style="background: transparent"
            >
              Sort By:
            </span>
            <th>
              <mfDefaultSorter by="consentVersion">
                Consent Version
              </mfDefaultSorter>
            </th>
            <th>
              <mfDefaultSorter by="consentedDate">
                Consented Date
              </mfDefaultSorter>
            </th>
            <th>
              <mfDefaultSorter by="dataSharingPermissions">
                Data Sharing Permissions
              </mfDefaultSorter>
            </th>
            <th>
              <mfDefaultSorter by="consentDocumentPath">
                Consent Document
              </mfDefaultSorter>
            </th>
          </tr>
        </thead>
        <tbody>
          <tr *ngFor="let consentDetails of mf.data">
            <td>{{ consentDetails.consentVersion }}</td>
            <td>
              {{
                consentDetails.consentedDate
                  ? consentDetails.consentedDate
                  : "N/A"
              }}
            </td>
            <td>
              {{
                consentDetails.dataSharingPermissions
                  ? consentDetails.dataSharingPermissions
                  : "N/A"
              }}
            </td>
            <td>
              <button class="btn" (click)="downloadPDF(consentDetails.id)">
                <img
                  src="assets/svgs/pdf.svg"
                  alt="downloadImage"
                  class="mr-xs"
                />
                <span class="download__">Download</span>
              </button>
            </td>
          </tr>
        </tbody>
        <tfoot>
          <tr>
            <td colspan="4">
              <mfBootstrapPaginator></mfBootstrapPaginator>
            </td>
          </tr>
        </tfoot>
      </table>
    </section>
  </section>
</ng-container>
