.subheader {
  padding: 13px 0px !important;
}

.display__contents {
  display: contents;
}

.custm_table_width_20 {
  width: 20%;
}
.line_hight__50 {
  line-height: 50px;
}

.table tbody tr:last-child td:first-child {
  border-bottom: none !important;
}

.table.custom__table th {
  width: fit-content !important;
}

@media only screen and (max-width: 500px) and (min-width: 320px) {

  .mob_display-inline { display: inline-block !important; }

  .xs-none { display:  none !important; }
  .mob_tabl_wid_100 tr th { width: fit-content !important; white-space: nowrap!important;}
  .mob_mr-10 { margin-right: 10px;}
}
