<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<array>
	<dict>
		<key>type</key>
		<string>participantStatus</string>
		<key>isHeaderAvailable</key>
		<string>YES</string>
		<key>headerText</key>
		<string>Participation status</string>
		<key>studyData</key>
		<array>
			<dict>
				<key>name</key>
				<string>Enrolled</string>
				<key>isEnabled</key>
				<true/>
			</dict>
			<dict>
				<key>name</key>
				<string>Completed</string>
				<key>isEnabled</key>
				<false/>
			</dict>
			<dict>
				<key>name</key>
				<string>Withdrawn</string>
				<key>isEnabled</key>
				<false/>
			</dict>
			<dict>
				<key>name</key>
				<string>Not eligible</string>
				<key>isEnabled</key>
				<false/>
			</dict>
			<dict>
				<key>name</key>
				<string>Yet to enroll</string>
				<key>isEnabled</key>
				<true/>
			</dict>
		</array>
	</dict>
	<dict>
		<key>type</key>
		<string>studyStatus</string>
		<key>isHeaderAvailable</key>
		<string>YES</string>
		<key>headerText</key>
		<string>Study status</string>
		<key>studyData</key>
		<array>
			<dict>
				<key>name</key>
				<string>Active</string>
				<key>isEnabled</key>
				<true/>
			</dict>
			<dict>
				<key>name</key>
				<string>Closed</string>
				<key>isEnabled</key>
				<false/>
			</dict>
			<dict>
				<key>name</key>
				<string>Paused</string>
				<key>isEnabled</key>
				<false/>
			</dict>
		</array>
	</dict>
</array>
</plist>
