<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<array>
	<dict>
		<key>title</key>
		<string>Welcome! </string>
		<key>text</key>
		<string>Overview description here.</string>
		<key>type</key>
		<string>video</string>
		<key>image</key>
		<string>welcomeBg</string>
		<key>videoLink</key>
		<string>https://videolinkhere.com</string>
	</dict>
	<dict>
		<key>title</key>
		<string>Leveraging the Power of Mobility for Research </string>
		<key>text</key>
		<string>Overview description here.</string>
		<key>type</key>
		<string></string>
		<key>image</key>
		<string>img_01</string>
		<key>videoLink</key>
		<string></string>
	</dict>
</array>
</plist>
