.page-wrap {
  min-height: 100vh;
}

.width__50 {
  width: 50%;
}

.mar_0_auto {
  margin: 0 auto;
}

#desktop-menu {
  display: block;
}
@media only screen and (max-width: 500px) and (min-width: 200px) {
  #desktop-menu {
    display: block !important;
  }
}