@import "./colors.scss";
#body-container {
  label {
    font-weight: 600;
  }
  input,
  textarea,
  select {
    font-size: 120%;
    border: none;
    font-weight: 600;
  }
  input:focus,
  textarea:focus,
  select:focus,
  button:focus {
    box-shadow: none;
  }
  .row {
    margin-left: 0;
    margin-right: 0;
  }
  .bg__white label {
    margin-bottom: 0;
    font-size: 70.8%;
    line-height: 87.5%;
    color: var(--light-blue);
    text-transform: capitalize;
  }
  .bg__white .label {
    margin-bottom: 0;
    font-size: 68.8%;
    line-height: 87.5%;
    color: var(--light-blue);
    text-transform: capitalize;
  }
  .bg__white input {
    background: transparent;
    font-size: 100%;
    padding: 0px;
    color: var(--space-gray);
    height: auto;
    font-weight: 600;
  }
  .select__form-control {
    padding: 0;
    text-indent: 0px;
    height: auto;
  }
  .select__form-control__parent {
    border: 1px solid var(--periwinkle-gray);
    padding: 20px;
    border-radius: 7px;
  }
  [type="button"],
  [type="reset"],
  [type="submit"],
  button {
    appearance: none;
  }
  .form-control:disabled,
  .form-control[readonly] {
    background-color: transparent;
  }
  .form-group .custom__labels input {
    padding: 0;
    height: initial;
    width: initial;
    margin-bottom: 0;
    display: none;
    cursor: pointer;
  }
  .form-group .custom__labels label {
    position: relative;
    cursor: pointer;
    align-items: center;
    display: flex;
    font-size: 100%;
    color: var(--space-gray);
  }
  .form-group .custom__labels label:before {
    content: "";
    appearance: none;
    background-color: var(--white);
    border: 1px solid var(--periwinkle-gray);
    padding: 7px;
    display: inline-block;
    position: relative;
    vertical-align: middle;
    cursor: pointer;
    margin-right: 10px;
  }
  .user__details .form-group .custom__labels label:before {
    content: url("assets/svgs/tick.svg");
    appearance: none;
    background-color: transparent;
    border: none;
    padding: 0;
    display: inline-block;
    position: relative;
    vertical-align: middle;
    cursor: pointer;
    margin-right: 10px;
  }
  .form-group .custom__labels input:checked + label:after {
    content: "";
    display: block;
    position: absolute;
    top: 1px;
    left: 6px;
    width: 5px;
    height: 11px;
    border: solid var(--white);
    border-width: 0px 1px 1px 0;
    transform: rotate(45deg);
  }
  .custom__labels input[type="checkbox"]:checked + label::before {
    background-color: var(--space-gray);
    border-color: var(--space-gray);
  }
  [type="radio"]:checked,
  [type="radio"]:not(:checked) {
    position: absolute;
    left: -9999px;
  }
  [type="radio"]:checked + label,
  [type="radio"]:not(:checked) + label {
    position: relative;
    padding-left: 25px;
    cursor: pointer;
    display: inline;
    color: var(--stone-gray);
    margin-right: 10px;
    font-size: 75%;
  }
  [type="radio"]:checked + label:before,
  [type="radio"]:not(:checked) + label:before {
    content: "";
    position: absolute;
    left: 0;
    top: 0;
    width: 15px;
    height: 15px;
    border: 1px solid var(--periwinkle-gray);
    border-radius: 100%;
    background: var(--white);
  }
  [type="radio"]:checked + label:before {
    border: 1px solid var(--light-blue);
  }
  [type="radio"]:checked + label:after,
  [type="radio"]:not(:checked) + label:after {
    content: "";
    width: 9px;
    height: 9px;
    background: var(--light-blue);
    position: absolute;
    top: 3px;
    left: 3px;
    border-radius: 50%;
    transition: all 0.2s ease;
  }
  [type="radio"]:not(:checked) + label:after {
    opacity: 0;
    transform: scale(0);
  }
  [type="radio"]:checked + label:after {
    opacity: 1;
    transform: scale(1);
  }
  [type="radio"]:checked + label:before,
  [type="radio"]:not(:checked) + label:before {
    content: "";
    position: absolute;
    left: 0;
    top: 0;
    width: 15px;
    height: 15px;
    border: 1px solid var(--periwinkle-gray);
    border-radius: 100%;
    background: var(--white);
  }
  .user__details [type="radio"]:checked + label:before {
    border: none;
  }
  [type="radio"]:checked + label:before {
    border: 1px solid var(--light-blue);
  }
  .bg__white .form-group {
    margin-bottom: 0;
    padding: 25px 30px;
  }
  select {
    appearance: none;
  }
  .form-item__element--select {
    font-size: 100%;
    font-weight: 600;
  }
  .form-item__element--select:invalid {
    color: var(--oslo-gray);
    font-weight: normal;
    font-size: 100%;
  }
  .form-item__element--select [disabled] {
    color: var(--oslo-gray);
    font-weight: normal;
    font-size: 100%;
  }
  .form-item__element--select option {
    color: var(--space-gray);
    font-weight: 600;
    font-size: 100%;
  }
}

.custom__labels input[value="false"] + label:before {
  content: url("assets/svgs/tick.svg");
  visibility: hidden;
}
.custom__labels input[value="true"] + label:before {
  content: url("assets/svgs/tick.svg");
  visibility: visible;
}
