@import "./colors.scss";
#body-container {
  ul {
    margin-bottom: 0;
    padding-left: 0;
  }
  ul li {
    list-style: none;
  }
  .user__profile__ul {
    padding: 0 20px;
  }
  .user__profile__ul li {
    padding-right: 10px;
  }
  .user__profile__ul li a {
    color: var(--stone-gray);
    font-size: 87.5%;
    position: relative;
    padding-right: 0;
    padding-left: 0;
  }
  .user__profile__ul li a.active {
    color: var(--dark-black);
  }
  .cards__list ul li {
    list-style: none;
    border-bottom: 1px solid var(--periwinkle-gray);
    color: var(--space-gray);
    font-size: 87.5%;
    padding: 75% 30px;
    background: var(--white);
  }
  .cards__list ul li:last-child {
    border-bottom: none;
    border-radius: 0px 0px 7px 7px;
  }
  .cards__list ul li:first-child {
    border-radius: 7px 7px 0 0;
  }
  .yel__tabs li a {
    color: var(--light-gray);
    font-size: 93.8%;
    font-weight: 700;
    cursor: pointer;
  }
  .yel__tabs li.active:nth-child(1) a {
    color: var(--yellow);
    font-size: 93.8%;
    border-bottom: 2px solid var(--yellow);
  }
  .yel__tabs li.active:nth-child(2) a {
    color: var(--light-blue);
    font-size: 93.8%;
    border-bottom: 2px solid var(--light-blue);
  }
  .yel__tabs li.active:nth-child(3) a {
    color: var(--light-green);
    font-size: 93.8%;
    border-bottom: 2px solid var(--light-green);
  }
  .yel__tabs li.active:nth-child(4) a {
    color: var(--light-red);
    font-size: 93.8%;
    border-bottom: 2px solid var(--light-red);
  }
  .yel__tabs .nav-tabs {
    border-bottom: none;
  }
  .yel__tabs {
    box-shadow: 1px 1px 5px 0px rgba(204, 215, 226, 1);
    border-radius: 7px;
  }
  ul.subheader__menu li {
    list-style: none;
    display: inline-block;
    cursor: pointer;
  }
  ul.subheader__menu li a {
    color: var(--light-gray);
    font-size: 100%;
    margin-right: 40px;
    padding-bottom: 5px;
  }
  ul.subheader__menu li a.active {
    color: var(--light-blue);
    border-bottom: 2px solid var(--light-blue);
  }
}
