<ng-container *ngIf="studyDetail$ | async as studyDetails">
  <div *ngIf="studyDetails && studyDetails.participantRegistryDetail">
    <div class="subheader p-none p-3 study-participant-registry">
      <div class="max__w__1280 m-none flex__justify__space-between">
        <div class="flex__justify__space-between">
          <div
            class="subheader__title flex__justify__space-between align__items__baseline"
          >
            <div>
              <a (click)="backClicked()" class="cursor__pointer">
                <img src="assets/svgs/back-arrow.svg" alt="Go back" />
              </a>
            </div>
            <div class="pl-1">
              <div class="mb-xs">
                <span
                  *ngIf="
                    studyDetails.participantRegistryDetail.studyType !==
                    studyTypes.Open
                  "
                >
                  Study participant registry
                </span>
                <span
                  *ngIf="
                    studyDetails.participantRegistryDetail.studyType ===
                    studyTypes.Open
                  "
                >
                  Enrollment registry
                </span>
              </div>
              <div class="flex__justify__space-between">
                <div
                  *ngIf="
                    studyDetails.participantRegistryDetail.studyType ===
                    studyTypes.Open
                  "
                  class="pr-xlg"
                >
                  <div class="banner__label">Site</div>
                  <div class="banner__text">NA (Open study)</div>
                </div>
                <div class="pr-xlg">
                  <div class="banner__label">
                    {{ studyDetails.participantRegistryDetail.customStudyId }}
                    -
                    <span
                      [ngClass]="{
                        active_text:
                          studyDetails.participantRegistryDetail.studyStatus ===
                          studyStatus.Active,
                        paused_text:
                          studyDetails.participantRegistryDetail.studyStatus ===
                          studyStatus.Paused,
                        deactivated_text:
                          studyDetails.participantRegistryDetail.studyStatus ===
                          studyStatus.Deactivated
                      }"
                    >
                      {{ studyDetails.participantRegistryDetail.studyStatus }}
                    </span>
                  </div>
                  <div class="banner__text">
                    {{ studyDetails.participantRegistryDetail.studyName }}
                  </div>
                </div>
                <div class="pr-xlg">
                  <div class="banner__label">
                    {{ studyDetails.participantRegistryDetail.customAppId }}
                  </div>
                  <div class="banner__text">
                    {{ studyDetails.participantRegistryDetail.appName }}
                  </div>
                </div>
              </div>
            </div>
          </div>
        </div>
        <div
          *ngIf="
            studyDetails.participantRegistryDetail.studyType === studyTypes.Open
          "
          class="pt-1"
        >
          <div class="enrollment-label mt-4">
            <span class="btn mt-2 enrol_btn p-none cursor__text">
              Enrollment target:
              {{ studyDetails.participantRegistryDetail.targetEnrollment }}
            </span>
            <button
              *ngIf="
                studyDetails.participantRegistryDetail
                  .openStudySitePermission === permission.ViewAndEdit ||
                studyDetails.participantRegistryDetail.sitePermission ===
                  permission.ViewAndEdit
              "
              class="btn mt-2 enrol_btn p-none"
              (click)="openModal(template)"
            >
              <img src="assets/svgs/edit.svg" alt="edit" class="mart_min" />
            </button>
          </div>
        </div>
      </div>
    </div>

    <div class="max__w__1280 m-none site__participant">
      <div class="cards1 m-none">
        <table
          class="table table-striped custom__table"
          [mfData]="
            studyDetails.participantRegistryDetail.registryParticipants
              | paginate
                : {
                    itemsPerPage: limit,
                    currentPage: currentPage,
                    totalItems: studyDetails.totalParticipantCount
                  }
          "
          #mf="mfDataTable"
          [mfRowsOnPage]="limit"
          [(mfSortBy)]="sortBy"
          [(mfSortOrder)]="sortOrder"
          (mfSortOrderChange)="onSortOrder($event)"
          (mfSortByChange)="onSortBy($event)"
        >
          <thead class="custom__thead">
            <tr>
              <th>
                <mfDefaultSorter by="_email">Participant email</mfDefaultSorter>
              </th>
              <th
                *ngIf="
                  studyDetails.participantRegistryDetail.studyType ===
                  studyTypes.Close
                "
              >
                <mfDefaultSorter by="_locationName">Site</mfDefaultSorter>
              </th>
              <th
                *ngIf="
                  studyDetails.participantRegistryDetail.studyType ===
                  studyTypes.Close
                "
              >
                <mfDefaultSorter by="_onboardingStatus">
                  Onboarding status
                </mfDefaultSorter>
              </th>
              <th>
                <mfDefaultSorter by="_enrollmentStatus">
                  Enrollment status
                </mfDefaultSorter>
              </th>
              <th>
                <mfDefaultSorter by="_enrollmentDate">
                  Enrollment date
                </mfDefaultSorter>
              </th>
            </tr>
          </thead>
          <tbody class="custom__tbody table_row_hover_shadow">
            <tr
              *ngFor="let lists of mf.data"
              [routerLink]="['/coordinator/participant', lists.id]"
            >
              <td [routerLink]="['/coordinator/participant', lists.id]">
                <span class="outline__none">{{ lists.email }}</span>
              </td>
              <td
                *ngIf="
                  studyDetails.participantRegistryDetail.studyType ===
                  studyTypes.Close
                "
              >
                {{ lists.locationName }}
              </td>
              <td
                *ngIf="
                  studyDetails.participantRegistryDetail.studyType ===
                  studyTypes.Close
                "
              >
                <div
                  [ngClass]="{
                    'txt__green':
                      lists.onboardingStatus === onboardingStatus.Invited,
                    'txt__light-gray':
                      lists.onboardingStatus === onboardingStatus.Disabled
                  }"
                >
                  {{ lists.onboardingStatus }}
                </div>
              </td>
              <td>
                <div
                  [ngClass]="{
                    'txt__green':
                      lists.enrollmentStatus === enrollmentStatus.Enrolled,
                    'txt__light-gray':
                      lists.enrollmentStatus === enrollmentStatus.Withdrawn
                  }"
                >
                  {{ lists.enrollmentStatus }}
                </div>
              </td>
              <td>{{ lists.enrollmentDate }}</td>
            </tr>
            <tr
              *ngIf="
                studyDetails.participantRegistryDetail.registryParticipants
                  .length === 0
              "
            >
              <td colspan="5" class="text-center font12 txt__light-gray">No records found</td>
            </tr>
          </tbody>

          <tfoot class="custom__tfoot">
            <tr>
              <td colspan="5">
                <div class="text-center">
                  <pagination-controls
                    pagination-template
                    #api="paginationApi"
                    (pageChange)="pageChange($event)"
                  ></pagination-controls>
                </div>
              </td>
            </tr>
          </tfoot>
        </table>
      </div>
    </div>
    <ng-template #template>
      <update-target
        [studyId]="studyDetails.participantRegistryDetail.studyId"
        [targetEnrollment]="
          studyDetails.participantRegistryDetail.targetEnrollment
        "
        (closeModalEvent)="closeModal($event)"
      ></update-target>
    </ng-template>
  </div>
</ng-container>
