.study-participant-registry.subheader {
  line-height: inherit !important;
  height: inherit;
}

.enrol_btn {
  color: var(--space-gray);
  font-size: 87.5%;
  font-weight: 600;
}

@media only screen and (max-width: 500px) and (min-width: 320px) {
  .scrollable-element {
    margin: 0 auto;
    overflow-x: hidden;
  }

  .scrollable-element:hover {
    overflow-x: scroll;
  }

  .scrollable-element::-webkit-scrollbar {
    width: 1px;
  }

  .scrollable-element::-webkit-scrollbar-track {
    box-shadow: inset 0 0 6px transparent;
  }

  .scrollable-element::-webkit-scrollbar-thumb {
    // background-color: ;
    outline: 0px solid slategrey;
  }

  .overflow__auto {
    overflow: auto;
    margin-bottom: 20px;
  }

  .mob_textpre {
    white-space: pre !important;
    padding-right: 10px;
  }

  .enrol_btn {
    margin-top: -8px !important;
  }
}
