<div class="modal-body modal__body">
  <div class="row border__bottom__c4d1e6 background__dfe4ec p-xlg">
    <div class="col-xs-12 col-md-5 p-none">
      <div name="customId">
        <label>study</label>
        <div>{{ newSite.name }}</div>
      </div>
    </div>
    <div class="col-xs-12 col-md-7 p-none">
      <div name="appId">
        <label>app</label>
        <div class="font14">{{ newSite.appName }}</div>
      </div>
    </div>
  </div>
  <form ngForm #addSiteForm="ngForm" autocomplete="off">
    <div
      *ngIf="location$ | async as manageLocations"
      class="row border__bottom__c4d1e6"
    >
      <div class="col-xs-12 col-md-12 p-none">
        <div class="form-group">
          <div class="form-item">
            <label>Location</label>
            <div class="select-wrap select select-fancy select-fancy-noimage">
              <select
                class="form-item__element form-item__element--select width__100 background__trans cursor__pointer"
                [(ngModel)]="site.locationId"
                required
                name="location"
                #location="ngModel"
                placeholder="Enter App ID or Name"
              >
                <option value="" disabled selected>Select Location</option>
                <option
                  class="cursor__pointer"
                  *ngFor="let location of manageLocations.locations"
                  value="{{ location.locationId }}"
                >
                  {{ location.name }}
                </option>
              </select>
            </div>
          </div>
          <div
            class="validation-error"
            *ngIf="location.dirty || location.touched"
          >
            <span
              class="help-block with-errors error__msg"
              *ngIf="site.locationId === '' || site.locationId === '0'"
            >
              Select a location.
            </span>
          </div>
        </div>
      </div>
    </div>

    <div class="p-xlg">
      <button
        type="submit"
        name="add"
        [disabled]="addSiteForm.form.invalid || disableButton"
        class="btn bt__add mr-sm"
        (click)="add()"
      >
        Add
      </button>
      <button
        type="button"
        name="cancel"
        class="btn bt__cancel"
        (click)="closeModal()"
      >
        Cancel
      </button>
    </div>
  </form>
</div>
