.select-fancy-noimage:after {
  content: "";
  width: 0;
  position: absolute;
  top: 45%;
  right: 12px;
  border-width: 6px 4px;
  border-style: solid;
  pointer-events: none;
  border-color: #656565 transparent transparent transparent;
}
table.custom-table-css > :not(:first-child) {
  border-top: 0px;
}
.table.custom-table-css > :not(caption) > * > * {
  box-shadow: none;
}
