.select-fancy-noimage:after {
  content: "";
  width: 0;
  position: absolute;
  top: 50%;
  border-width: 6px 4px;
  border-style: solid;
  pointer-events: none;
  border-color: #656565 transparent transparent transparent;
}
