<div class="max__w__1280">
  <div class="tab-content">
    <ng-container *ngIf="study$ | async as studies">
      <div>
        <div
          *ngFor="let study of studiesDisplay"
          class="bg__white cards box__shadow-cmn ml-none mr-none studies_row"
        >
          <div class="flex__ flex__row">
            <div class="img__container__left">
              <div class="deafult__img">
                <img [src]="study.logoImageUrl" alt="" />
              </div>
            </div>
            <div class="width__100">
              <div class="row">
                <div class="col-xs-12 col-md-12 p-none dashboard-card__title">
                  {{ study.name }}
                  <div
                    [ngClass]="{
                      active_bg: study.studyStatus === studyStatus.Active,
                      paused_bg: study.studyStatus === studyStatus.Paused,
                      deactivated_bg:
                        study.studyStatus === studyStatus.Deactivated
                    }"
                  >
                    {{ study.studyStatus }}
                  </div>
                </div>
                <div
                  class="text-grey__sm row flex-wrap-unset col-xs-12 col-md-12 p-none"
                >
                  <div class="col-xs-6 col-md-3 p-none">
                    <span *ngIf="study.sites && study.type !== studyTypes.Open">
                      {{ study.sites.length | i18nPlural: messageMapping }}
                    </span>
                    <span *ngIf="study.type === studyTypes.Open">
                      Open study
                    </span>
                  </div>

                  <div
                    class="col-xs-6 col-md-9 text-right p-none mb__display__none"
                  >
                    Enrolled /
                    <span *ngIf="study.type !== studyTypes.Open">Invited</span>
                    <span *ngIf="study.type === studyTypes.Open">Target</span>
                  </div>
                </div>
                <div
                  class="col-xs-12 col-md-12 p-none border__bottom__red border-top__c4d1e6 progress__bar cursor__pointer"
                >
                  <div
                    class="outline__none"
                    *ngFor="let site of study.sites"
                    [routerLink]="
                      study.type === studyTypes.Open
                        ? ['/coordinator/studies', study.id]
                        : ['/coordinator/studies/sites/', site.id]
                    "
                  >
                    <div class="row display-flex-center progress__bar__row">
                      <div class="col-xs-12 col-md-8 p-none cursor__pointer">
                        <span
                          *ngIf="study.type !== studyTypes.Open"
                          class="sites_row font14 no_st_en"
                        >
                          {{ site.name }}
                        </span>
                        <span
                          *ngIf="study.type === studyTypes.Open"
                          class="sites_row font14 no_st_en"
                        >
                          Enrollment registry
                        </span>
                      </div>
                      <div class="col-xs-12 col-md-4 p-none lh__6">
                        <div class="prog">
                          <div class="pro__base">
                            <div>
                              <div
                                class="pro__top"
                                [style.width.%]="site.enrollmentPercentage"
                              ></div>
                            </div>
                          </div>
                        </div>
                        <div
                          class="progress-label font__bold mob_pull_right"
                          [ngClass]="progressBarColor(site)"
                        >
                          <div>
                            <div *ngIf="study.type !== studyTypes.Open">
                              <span *ngIf="site.invited != 0">
                                {{ site.enrolled }} /
                                {{ site.invited }}
                              </span>
                              <span *ngIf="site.invited == 0">0 Invited</span>
                            </div>
                            <div *ngIf="study.type === studyTypes.Open">
                              <span *ngIf="site.invited != 0">
                                {{ site.enrolled }} /
                                {{ site.invited }}
                              </span>
                              <span *ngIf="site.invited === 0">
                                {{ site.enrolled }} Enrolled
                              </span>
                            </div>
                          </div>
                        </div>
                      </div>
                    </div>
                  </div>
                </div>
              </div>
              <div
                *ngIf="
                  study.type !== studyTypes.Open &&
                  study.studyPermission === permission.ViewAndEdit &&
                  study.studyStatus !== studyStatus.Deactivated
                "
              >
                <button
                  name="add"
                  class="primary__btn add__site btn__container"
                  (click)="openAddSiteModal(template, study)"
                >
                  + Add site
                </button>
              </div>
            </div>
          </div>
        </div>
        <div *ngIf="loadMoreEnabled" (mouseover)="loadMoreSites()">
          <app-loadmore-spinner></app-loadmore-spinner>
          <div
            class="d-flex flex-column align-items-center justify-content-center"
          >
            <label class="font12 mt-md" for="">Load more sites</label>
          </div>
        </div>
        <div class="bg__white card__inside__pad box__shadow-cmn m-none p-lg">
          <div class="text-center p-2 font12  txt__light-gray" *ngIf="studies.studies.length === 0">
            No records found
          </div>
        </div>
      </div>
    </ng-container>
  </div>
</div>
<ng-template #template>
  <add-site
    [study]="study"
    (cancelEvent)="cancel()"
    (closeModalEvent)="closeModal($event)"
  ></add-site>
</ng-template>
