<?xml version="1.0" encoding="UTF-8"?>
<Configuration status="WARN" monitorInterval="30">
	<Properties>
		<Property name="LOG_PATTERN">%d{yyyy-MM-dd'T'HH:mm:ss.SSSZ} %p %m%n
		</Property>
		<Property name="APP_LOG_ROOT">logs</Property>
	</Properties>
	<Appenders>
		<Console name="Console" target="SYSTEM_OUT" follow="true">
			<PatternLayout pattern="${LOG_PATTERN}" />
		</Console>

		<RollingFile name="appLog"
			fileName="/opt/tomcat/logs/fda-mystudies/response-server.log"
			filePattern="/opt/tomcat/logs/fda-mystudies/response-server-%d{yyyy-MM-dd}-%i.log">
			<PatternLayout pattern="${LOG_PATTERN}" />
			<Policies>
				<SizeBasedTriggeringPolicy size="10MB" />
			</Policies>
			<DefaultRolloverStrategy max="1" />
		</RollingFile>

		<RollingFile name="debugLog"
			fileName="/opt/tomcat/logs/fda-mystudies/response-server-debug.log"
			filePattern="/opt/tomcat/logs/fda-mystudies/response-server-debug-%d{yyyy-MM-dd}-%i.log">
			<PatternLayout pattern="${LOG_PATTERN}" />
			<Policies>
				<SizeBasedTriggeringPolicy size="10MB" />
			</Policies>
			<DefaultRolloverStrategy max="1" />
		</RollingFile>

	</Appenders>
	<Loggers>

		<Logger name="com.fda-mystudies-response-server"
			additivity="false">
			<AppenderRef ref="appLog" />
			<AppenderRef ref="Console" />
		</Logger>

		<Logger name="com.fda-mystudies-response-server"
			additivity="false" level="debug">
			<AppenderRef ref="debugLog" />
		</Logger>


		<Root level="info">
			<AppenderRef ref="Console" />
			<AppenderRef ref="FILE" />
			<AppenderRef ref="debugLog" />
		</Root>
	</Loggers>
</Configuration>