<?xml version="1.0" encoding="utf-8"?>
<manifest xmlns:android="http://schemas.android.com/apk/res/android"
    xmlns:tools="http://schemas.android.com/tools"
    package="org.sagebionetworks.research.crf">

    <application>
        <activity
            android:name="org.sagebase.old.HrOverviewActivity"
            android:label="@string/app_name"
            android:theme="@style/Theme.Crf.Onboarding">
            <intent-filter>
                <action android:name="android.intent.action.MAIN" />

                <category android:name="android.intent.category.LAUNCHER" />
            </intent-filter>
        </activity>
        <activity android:name="org.sagebase.old.CrfOverviewActivity">
            <intent-filter tools:node="remove">
                <action android:name="android.intent.action.MAIN" />

                <category android:name="android.intent.category.LAUNCHER" />
            </intent-filter>
        </activity>
        <activity android:name="org.sagebase.old.HrMainActivity"
            android:launchMode="singleTask"
            android:screenOrientation="portrait"
            android:theme="@style/Theme.Crf.Main">
        </activity>
    </application>

</manifest>