<div class="modal-body modal__body">
  <form #updateTargetEnrollment="ngForm" autocomplete="off">
    <div class="row border__bottom__c4d1e6">
      <div class="col-xs-12 col-md-12 p-none">
        <div class="form-group border-radius__77">
          <label for="email">Edit Enrollment Target</label>
          <input
            name="target"
            type="number"
            class="form-control"
            placeholder="Enter Enrollment Target"
            [(ngModel)]="updateTargetEnrollmentRequest.targetEnrollment"
            required
            name="target"
            #target="ngModel"
            min="0"
            max="99999"
            oninput="validity.valid||(value='');"
          />
          <div *ngIf="target.invalid && (target.dirty || target.touched)">
            <span
              class="help-block with-errors error__msg"
              *ngIf="target.errors?.required"
            >
              Please fill the above field.
            </span>
            <span
              class="help-block with-errors error__msg"
              *ngIf="target.errors?.min"
            >
              target is invalid.
            </span>
          </div>
        </div>
      </div>
    </div>
    <div class="p-xlg flex__justify__space-between">
      <div>
        <button
          type="submit"
          name="update"
          [disabled]="!updateTargetEnrollment.form.valid"
          class="btn bt__add mr-sm"
          (click)="update()"
        >
          Update
        </button>
        <button
          type="button"
          name="cancel"
          class="btn bt__cancel"
          (click)="closeModal(targetEnrollment)"
        >
          Cancel
        </button>
      </div>
    </div>
  </form>
</div>
