<header>
  <div id="desktop-menu">
    <div class="bs-example bs__example">
      <nav class="navbar navbar-expand-md p-none">
        <a href="#" class="navbar-brand">
          <img class="mr-sm" src="assets/images/landing-logo.gif" alt="logo" />
        </a>
      </nav>
    </div>
  </div>
</header>
<ng-container>
  <section class="max__w__850 add__location">
    <form #setupaccount="ngForm" autocomplete="off">
      <h2 class="subheader__title mb-sm mt-lg">Set Up Account</h2>
      <section class="bg__white card__inside__pad box__shadow-cmn m-none">
        <div class="mt-lg">
          <div class="row border-bottom__c4d1e6">
            <div class="col-xs-12 col-md-12 p-none">
              <div class="form-group">
                <label for="email">Email ID</label>
                <input
                  type="text"
                  class="form-control"
                  id="email"
                  placeholder="Enter Email"
                  [(ngModel)]="user.email"
                  name="email"
                  #email="ngModel"
                  readonly
                />
              </div>
            </div>
          </div>
          <div class="row">
            <div class="col-xs-12 col-md-6 p-none border-right__c4d1e6">
              <div class="form-group">
                <label for="fname">First Name</label>
                <input
                  type="text"
                  class="form-control"
                  id="fname"
                  placeholder="Enter First Name"
                  [(ngModel)]="user.firstName"
                  name="firstName"
                  #firstName="ngModel"
                  pattern="^[A-Za-z]{3,15}$"
                  required
                />
                <div
                  class="validation-error"
                  *ngIf="
                    firstName.invalid && (firstName.dirty || firstName.touched)
                  "
                >
                  <span
                    class="help-block with-errors error__msg"
                    *ngIf="firstName.errors?.required"
                  >
                    Please fill out this field.
                  </span>
                  <span
                    class="help-block with-errors error__msg"
                    *ngIf="firstName.errors?.pattern"
                  >
                    Please enter atleast 3 - 15 alphabets with no space.
                  </span>
                </div>
              </div>
            </div>
            <div class="col-xs-12 col-md-6 p-none">
              <div class="form-group">
                <label for="lname">Last Name</label>
                <input
                  type="text"
                  class="form-control"
                  id="lname"
                  placeholder="Enter Last Name"
                  [(ngModel)]="user.lastName"
                  name="lastName"
                  #lastName="ngModel"
                  pattern="^[A-Za-z]{3,15}$"
                  required
                />
                <div
                  class="validation-error"
                  *ngIf="
                    lastName.invalid && (lastName.dirty || lastName.touched)
                  "
                >
                  <span
                    class="help-block with-errors error__msg"
                    *ngIf="lastName.errors?.required"
                  >
                    Please fill out this field.
                  </span>
                  <span
                    class="help-block with-errors error__msg"
                    *ngIf="lastName.errors?.pattern"
                  >
                    Please enter atleast 3 - 15 alphabets with no space.
                  </span>
                </div>
              </div>
            </div>
          </div>
        </div>
      </section>

      <h2 class="subheader__title mb-sm">Create Password</h2>
      <section class="bg__white card__inside__pad box__shadow-cmn m-none">
        <div class="row">
          <div class="col-xs-12 col-md-6 p-none border-right__c4d1e6">
            <div class="form-group">
              <label for="password">Password</label>
              <input
                type="password"
                class="form-control"
                id="password"
                placeholder="Enter Password"
                [(ngModel)]="user.password"
                #password="ngModel"
                name="password"
                pattern="^(?=.*[a-z])(?=.*[A-Z])(?=.*\d)(?=.*[@$!%*?&])[A-Za-z\d@$!%*?&]{10,}$"
                required
              />
              <div
                class="validation-error"
                *ngIf="password.invalid && (password.dirty || password.touched)"
              >
                <span
                  class="help-block with-errors error__msg"
                  *ngIf="password.errors?.required"
                >
                  Please fill out this field.
                </span>
                <span
                  class="help-block with-errors error__msg"
                  *ngIf="password.errors?.pattern"
                >
                  Does not match Password criteria
                </span>
              </div>
            </div>
          </div>
          <div class="col-xs-12 col-md-6 p-none">
            <div class="form-group">
              <label for="confirmPassword">Confirm Password</label>
              <input
                type="password"
                class="form-control"
                id="confirmPassword"
                placeholder="Enter Confirm Password"
                [(ngModel)]="user.confirmPassword"
                #confirmPassword="ngModel"
                name="confirmPassword"
                pattern="^(?=.*[a-z])(?=.*[A-Z])(?=.*\d)(?=.*[@$!%*?&])[A-Za-z\d@$!%*?&]{10,}$"
                required
              />
              <div
                class="validation-error"
                *ngIf="
                  confirmPassword.invalid &&
                  (confirmPassword.dirty || confirmPassword.touched)
                "
              >
                <span
                  class="help-block with-errors error__msg"
                  *ngIf="confirmPassword.errors?.required"
                >
                  Please fill out this field.
                </span>
                <span
                  class="help-block with-errors error__msg"
                  *ngIf="confirmPassword.errors?.pattern"
                >
                  Does not match Password criteria.
                </span>
              </div>
              <div
                class="validation-error"
                *ngIf="
                  !confirmPassword.invalid &&
                  (confirmPassword.dirty || confirmPassword.touched)
                "
              >
                <span
                  class="help-block with-errors error__msg"
                  *ngIf="user.confirmPassword !== user.password"
                >
                  Entered Password does not match.
                </span>
              </div>
            </div>
          </div>
        </div>
      </section>
      <section class="btn__container flex__justify__space-between mb-xlg">
        <div>
          <button
            type="submit"
            name="save"
            class="btn bt__add mr-sm"
            [disabled]="
              setupaccount.form.invalid || user.confirmPassword != user.password
            "
            (click)="registerUser()"
          >
            Submit
          </button>
          <button name="cancel" type="button" class="btn bt__cancel">
            Cancel
          </button>
        </div>
      </section>
    </form>
  </section>
</ng-container>
