apiVersion: apps/v1 
kind: Deployment 
metadata: 
  name: response-server-ws 
  labels: 
    app: response-server-ws 
spec: 
  replicas: 1 
  selector: 
    matchLabels: 
      app: response-server 
  template: 
    metadata: 
      labels: 
        app: response-server 
    spec: 
      containers: 
        - name: response-server-ws 
          image: gcr.io/heroes-hat-dev/response-server-ws:latest
          env: 
            - name: DB_USER 
              valueFrom: 
                secretKeyRef: 
                  name: cloudsql-db-credentials 
                  key: username 
            - name: DB_PASS 
              valueFrom: 
                secretKeyRef: 
                  name: cloudsql-db-credentials 
                  key: password 
            - name: DB_NAME 
              valueFrom: 
                secretKeyRef: 
                  name: cloudsql-db-credentials 
                  key: dbname 
        - name: cloudsql-proxy 
          image: gcr.io/cloudsql-docker/gce-proxy:latest 
          command: ["/cloud_sql_proxy", 
            "-instances=heroes-hat-dev:us-west1:my-studies=tcp:3306", 
            "-credential_file=/secrets/cloudsql/sql_credentials.json"] 
          volumeMounts: 
            - name: my-secrets-volume 
              mountPath: /secrets/cloudsql 
              readOnly: true 
      volumes: 
        - name: my-secrets-volume 
          secret: 
            secretName: cloudsql-instance-credentials
