.dropdown .dropbtn {
  color: white;
}

.dropdown-content {
  display: none;
  position: absolute;
  background-color: #fff;
  min-width: 280px;
  box-shadow: 0 1px 4px rgba(0, 0, 0, 0.21);
  z-index: 1;
  border-radius: 4px;
  margin-top: 5px;
  padding: 20px;
}

.dropdown-content a {
  float: none;
  color: black;
  padding: 12px 16px;
  text-decoration: none;
  display: block;
  text-align: left;
}

.fa-caret-down:before {
  content: "\f0d7";
  font-size: 87.5%;
  margin-left: 6px;
}

.right__bt__container {
  position: absolute;
  right: 30px;
  top: 15px;
}

.border-bottom__dee2e6 {
  border-bottom: 1px solid #dee2e6;
}

input[type="checkbox"] {
  padding: 0;
  height: initial;
  width: initial;
  margin-bottom: 0;
  display: none;
  cursor: pointer;
}

.site__participant label {
  position: relative;
  cursor: pointer;
  margin-bottom: 0;
}

.site__participant label:before {
  content: "";
  -webkit-appearance: none;
  background-color: transparent;
  border: 1px solid #dee2e6;
  padding: 7px;
  position: relative;
  vertical-align: middle;
  cursor: pointer;
  margin-right: 20px;
}

input[type="checkbox"]:checked + label::before {
  background-color: #353a3e;
  border-color: #353a3e;
}

.site__participant input:checked + label:after {
  content: "";
  display: block;
  position: absolute;
  top: 3px;
  left: 6px;
  width: 5px;
  height: 14px;
  border: solid #dee2e6;
  border-width: 0 2px 2px 0;
  transform: rotate(45deg);
}

.table.table-striped thead tr th:last-child {
  border-radius: 0 !important;
}

.subheader {
  padding: 13px 0px !important;
}

.desk__.view .dropbtn {
  width: 155px;
  height: 32px;
}
.arrow_clr__white {
  color: var(--white);
}

.chk_box_hidden:before {
  visibility: hidden;
}
.chk_box_hidden2:before {
  display: none;
}

@media only screen and (max-width: 360px) and (min-width: 320px) {
  .yel__tabs li a {
    font-size: 75% !important;
  }
  .yel__tabs li.active:nth-child(1) a {
    font-size: 75% !important;
  }

  .banner__primary__btn {
    padding: 5px 5px !important;
    font-size: 69% !important;
  }
  .pad__5__13 {
    padding: 5px 5px !important;
  }
  .banner__default__btn {
    padding: 5px 5px !important;
    font-size: 69% !important;
  }
  .font12 {
    font-size: 69% !important;
  }
  .table th:last-child {
    border-radius: 10px !important;
  }
  .table.table-striped thead tr th:last-child {
    border-radius: 10px !important;
  }

  .site__participant label:before {
    margin-right: 5px;
  }
  .table.table-striped thead.custom__thead tr th span label:before {
    border: 1px solid #757575;
  }
}

@media only screen and (max-width: 500px) and (min-width: 320px) {
  .scrollable-element {
    margin: 0 auto;
    overflow-x: hidden;
  }

  .scrollable-element:hover {
    overflow-x: scroll;
  }

  .scrollable-element::-webkit-scrollbar {
    width: 1px;
  }
  .scrollable-element::-webkit-scrollbar-track {
    box-shadow: inset 0 0 6px transparent;
  }

  .scrollable-element::-webkit-scrollbar-thumb {
    // background-color: ;
    outline: 0px solid slategrey;
  }

  .overflow__auto {
    padding-bottom: 20px;
  }
}
