<ng-container *ngIf="siteParticipants$ | async as siteParticipants">
  <div class="site__details">
    <div class="subheader p-none pl-none">
      <div class="max__w__1280 m-none">
        <div class="flex__justify__space-between">
          <div
            class="subheader__title flex__justify__space-between align__items__baseline"
          >
            <div>
              <a
                class="cursor__pointer"
                routerLink="/coordinator/studies/sites"
              >
                <img src="assets/svgs/back-arrow.svg" alt="" />
              </a>
            </div>
            <div class="pl-1">
              <div class="mb-xs">
                Site participant registry
                <span
                  [ngClass]="
                    siteParticipants.participantRegistryDetail.siteStatus === 1
                      ? 'active__'
                      : 'inActive__'
                  "
                >
                  {{
                    siteParticipants.participantRegistryDetail.siteStatus === 1
                      ? "Active"
                      : "Decommissioned"
                  }}
                </span>
              </div>
              <div class="display-inline-flex overflow__auto">
                <div class="pr-xlg">
                  <div class="banner__label">
                    {{
                      siteParticipants.participantRegistryDetail
                        .customLocationId
                    }}
                  </div>
                  <div class="banner__text">
                    {{
                      siteParticipants.participantRegistryDetail.locationName
                    }}
                  </div>
                </div>
                <div class="pr-xlg">
                  <div class="banner__label">
                    {{
                      siteParticipants.participantRegistryDetail.customStudyId
                    }}
                    -
                    <span
                      [ngClass]="{
                        active_text:
                          siteParticipants.participantRegistryDetail
                            .studyStatus === studyStatus.Active,
                        paused_text:
                          siteParticipants.participantRegistryDetail
                            .studyStatus === studyStatus.Paused,
                        deactivated_text:
                          siteParticipants.participantRegistryDetail
                            .studyStatus === studyStatus.Deactivated
                      }"
                    >
                      {{
                        siteParticipants.participantRegistryDetail.studyStatus
                      }}
                    </span>
                  </div>
                  <div class="banner__text">
                    {{ siteParticipants.participantRegistryDetail.studyName }}
                  </div>
                </div>
                <div>
                  <div class="banner__label">
                    {{ siteParticipants.participantRegistryDetail.customAppId }}
                  </div>
                  <div class="banner__text">
                    {{ siteParticipants.participantRegistryDetail.appName }}
                  </div>
                </div>
              </div>
            </div>
          </div>
          <div class="desk__view">
            <div
              [hidden]="
                siteParticipants.participantRegistryDetail.sitePermission !==
                permission.ViewAndEdit
              "
              class="flex__justify__space-between"
            >
              <div
                [hidden]="
                  siteParticipants.participantRegistryDetail.studyStatus ===
                    studyStatus.Deactivated ||
                  siteParticipants.participantRegistryDetail.siteStatus === 0
                "
              >
                <div class="dropdown">
                  <button
                    name="btnToggleParticipant"
                    class="dropbtn btn banner__primary__btn mr-sm tnsb"
                    (click)="toggleParticipant($event)"
                  >
                    Add participants
                    <i class="fa fa-caret-down arrow_clr__white"></i>
                  </button>
                  <div
                    [ngClass]="toggleDisplay ? 'show' : ''"
                    class="dropdown-content participantSlideDown"
                  >
                    <div class="flex__justify__space-between mb-xs">
                      <div class="mr-sm">
                        <button
                          class="primary__btn font__bold"
                          (click)="openModal(addEmail)"
                        >
                          Add email
                        </button>
                      </div>
                      <div>
                        <button
                          class="primary__btn font__bold"
                          (click)="openModal(importEmaillist)"
                        >
                          Import email list
                        </button>
                      </div>
                    </div>
                    <div class="flex__row__reverse pr-3">
                      <a
                        download="Email_Import_Template"
                        target="_blank"
                        href="assets/Email_Import_Template.xlsx"
                        class="p-none"
                      >
                        <div class="download__text">Download template</div>
                      </a>
                    </div>
                  </div>
                </div>
              </div>
              <div
                [hidden]="
                  siteParticipants.participantRegistryDetail.studyPermission !==
                    permission.ViewAndEdit ||
                  (siteParticipants.participantRegistryDetail.studyStatus ===
                    studyStatus.Deactivated &&
                    siteParticipants.participantRegistryDetail.siteStatus === 0)
                "
              >
                <button
                  name="buttonDecommision"
                  class="btn banner__default__btn flex__row__reverse pad__5__13"
                  (click)="
                    decommissionSite(siteParticipants.participantRegistryDetail)
                  "
                >
                  {{
                    siteParticipants.participantRegistryDetail.siteStatus === 1
                      ? "Decommission site for study"
                      : "Activate site for study"
                  }}
                </button>
              </div>
            </div>
          </div>
        </div>
      </div>
    </div>

    <!-- ForMobile View  -->
    <div class="mobile__view yel__tabs">
      <div
        [hidden]="
          siteParticipants.participantRegistryDetail.sitePermission !==
          permission.ViewAndEdit
        "
        class="p-md pb-none"
      >
        <div class="flex__ flex__justify__center">
          <div
            [hidden]="
              siteParticipants.participantRegistryDetail.studyStatus ===
                studyStatus.Deactivated ||
              siteParticipants.participantRegistryDetail.siteStatus === 0
            "
          >
            <div class="dropdown">
              <button
                name="btnToggleParticipant"
                class="dropbtn btn banner__primary__btn mr-sm font12"
                (click)="toggleParticipant($event)"
              >
                Add participants
                <i class="fa fa-caret-down arrow_clr__white"></i>
              </button>
              <div
                [ngClass]="toggleDisplay ? 'show' : ''"
                lass="dropdown-content participantSlideDown"
              >
                <div class="flex__justify__space-between mb-xs">
                  <div class="mr-sm">
                    <button
                      class="primary__btn font__bold"
                      (click)="openModal(addEmail)"
                    >
                      Add email
                    </button>
                  </div>
                  <div>
                    <button
                      class="primary__btn font__bold"
                      (click)="openModal(importEmaillist)"
                    >
                      Import email list
                    </button>
                  </div>
                </div>
                <div class="flex__row__reverse">
                  <a
                    download="Email_Import_Template"
                    target="_blank"
                    href="assets/Email_Import_Template.xlsx"
                    class="p-none"
                  >
                    <div class="download__text">Download template</div>
                  </a>
                </div>
              </div>
            </div>
          </div>
          <div
            [hidden]="
              siteParticipants.participantRegistryDetail.studyPermission !==
                permission.ViewAndEdit ||
              (siteParticipants.participantRegistryDetail.studyStatus ===
                studyStatus.Deactivated &&
                siteParticipants.participantRegistryDetail.siteStatus === 0)
            "
          >
            <button
              name="buttonDecommision"
              class="btn banner__default__btn flex__row__reverse pad__5__13 font12"
              (click)="
                decommissionSite(siteParticipants.participantRegistryDetail)
              "
            >
              {{
                siteParticipants.participantRegistryDetail.siteStatus === 1
                  ? "Decommission site for study"
                  : "Activate site for study"
              }}
            </button>
          </div>
        </div>
      </div>
      <div>
        <ul class="nav nav-tabs">
          <li [ngClass]="{active: activeTab == onBoardingStatus.All}">
            <a data-toggle="tab" (click)="changeTab(onBoardingStatus.All)">
              All
              <span class="font11">
                ({{
                  siteParticipants.participantRegistryDetail.countByStatus.A
                }})
              </span>
            </a>
          </li>
          <li [ngClass]="{active: activeTab == onBoardingStatus.New}">
            <a
              class="classNew"
              data-toggle="tab"
              (click)="changeTab(onBoardingStatus.New)"
            >
              New
              <span class="font11">
                ({{
                  siteParticipants.participantRegistryDetail.countByStatus.N
                }})
              </span>
            </a>
          </li>
          <li [ngClass]="{active: activeTab == onBoardingStatus.Invited}">
            <a data-toggle="tab" (click)="changeTab(onBoardingStatus.Invited)">
              Invited
              <span class="font11">
                ({{
                  siteParticipants.participantRegistryDetail.countByStatus.I
                }})
              </span>
            </a>
          </li>
          <li [ngClass]="{active: activeTab == onBoardingStatus.Disabled}">
            <a data-toggle="tab" (click)="changeTab(onBoardingStatus.Disabled)">
              Disabled
              <span class="font11">
                ({{
                  siteParticipants.participantRegistryDetail.countByStatus.D
                }})
              </span>
            </a>
          </li>
          <li></li>
        </ul>
      </div>
      <div class="sred">
        <div
          [hidden]="
            siteParticipants.participantRegistryDetail.sitePermission !==
              permission.ViewAndEdit ||
            siteParticipants.participantRegistryDetail.studyStatus ===
              studyStatus.Deactivated ||
            siteParticipants.participantRegistryDetail.siteStatus === 0
          "
          class="flex__ flex__justify__center"
        >
          <div
            *ngIf="
              activeTab == onBoardingStatus.New ||
              activeTab == onBoardingStatus.Invited
            "
            class="mr-sm"
          >
            <button
              class="dropbtn btn banner__primary__btn white__text bt__font12__pad113"
              (click)="sendInvitation()"
            >
              {{ sendResend }}
            </button>
          </div>

          <div
            class="sendResendActiveClass"
            *ngIf="
              activeTab == onBoardingStatus.New ||
              activeTab == onBoardingStatus.Invited ||
              activeTab == onBoardingStatus.Disabled
            "
          >
            <button
              class="btn banner__default__btn flex__row__reverse pad__5__13 bt__font12__pad113"
              (click)="toggleInvitation()"
            >
              {{ enableDisable }}
            </button>
          </div>
        </div>
      </div>
    </div>

    <div class="max__w__1280 p-none site__participant">
      <div class="desk__view">
        <div
          class="flex__justify__space-between bg__white yel__tabs border-bottom__dee2e6"
        >
          <div>
            <ul class="nav nav-tabs">
              <li [ngClass]="{active: activeTab == onBoardingStatus.All}">
                <a data-toggle="tab" (click)="changeTab(onBoardingStatus.All)">
                  All
                  <span class="font11">
                    ({{
                      siteParticipants.participantRegistryDetail.countByStatus
                        .A
                    }})
                  </span>
                </a>
              </li>
              <li [ngClass]="{active: activeTab == onBoardingStatus.New}">
                <a
                  class="classNew"
                  data-toggle="tab"
                  (click)="changeTab(onBoardingStatus.New)"
                >
                  New
                  <span class="font11">
                    ({{
                      siteParticipants.participantRegistryDetail.countByStatus
                        .N
                    }})
                  </span>
                </a>
              </li>
              <li [ngClass]="{active: activeTab == onBoardingStatus.Invited}">
                <a
                  data-toggle="tab"
                  (click)="changeTab(onBoardingStatus.Invited)"
                >
                  Invited
                  <span class="font11">
                    ({{
                      siteParticipants.participantRegistryDetail.countByStatus
                        .I
                    }})
                  </span>
                </a>
              </li>
              <li [ngClass]="{active: activeTab == onBoardingStatus.Disabled}">
                <a
                  data-toggle="tab"
                  (click)="changeTab(onBoardingStatus.Disabled)"
                >
                  Disabled
                  <span class="font11">
                    ({{
                      siteParticipants.participantRegistryDetail.countByStatus
                        .D
                    }})
                  </span>
                </a>
              </li>
              <li></li>
            </ul>
          </div>
          <div class="pr-xlg">
            <div
              [hidden]="
                siteParticipants.participantRegistryDetail.sitePermission !==
                  permission.ViewAndEdit ||
                siteParticipants.participantRegistryDetail.studyStatus ===
                  studyStatus.Deactivated ||
                siteParticipants.participantRegistryDetail.siteStatus === 0
              "
              class="flex__justify__space-between mb-xs"
            >
              <div
                *ngIf="
                  activeTab == onBoardingStatus.New ||
                  activeTab == onBoardingStatus.Invited
                "
                class="mr-sm"
              >
                <button
                  name="sendInvite"
                  class="dropbtn btn banner__primary__btn white__text bt__font12__pad113"
                  (click)="sendInvitation()"
                >
                  {{ sendResend }}
                </button>
              </div>
              <div
                class="sendResendActiveClass"
                *ngIf="
                  activeTab == onBoardingStatus.New ||
                  activeTab == onBoardingStatus.Invited ||
                  activeTab == onBoardingStatus.Disabled
                "
              >
                <button
                  name="toggleInvite"
                  class="btn banner__default__btn flex__row__reverse pad__5__13 bt__font12__pad113"
                  (click)="toggleInvitation()"
                >
                  {{ enableDisable }}
                </button>
              </div>
            </div>
          </div>
        </div>
      </div>
      <div class="tab-content site__table">
        <div>
          <table
            class="table table-striped custom__table"
            [mfData]="
              siteParticipants.participantRegistryDetail.registryParticipants
            "
            #mf="mfDataTable"
            [mfRowsOnPage]="10"
          >
            <thead class="custom__thead">
              <tr>
                <span
                  class="sort__by__text mobile__view mr-sm"
                  style="background: transparent"
                >
                  Sort by:
                </span>
                <th>
                  <span
                    *ngIf="
                      activeTab == onBoardingStatus.New ||
                      activeTab == onBoardingStatus.Disabled ||
                      (invitedYetToEnrollCount > 0 &&
                        activeTab == onBoardingStatus.Invited)
                    "
                  >
                    <input
                      type="checkbox"
                      id="css"
                      [(ngModel)]="selectedAll"
                      (change)="selectAll()"
                    />
                    <label
                      *ngIf="
                        siteParticipants.participantRegistryDetail
                          .sitePermission === permission.ViewAndEdit &&
                        siteParticipants.participantRegistryDetail
                          .siteStatus !== 0
                      "
                      for="css"
                    ></label>
                  </span>
                  <mfDefaultSorter by="email">
                    Participant email
                  </mfDefaultSorter>
                </th>
                <th *ngIf="activeTab == onBoardingStatus.All">
                  <mfDefaultSorter by="onboardingStatus">
                    Onboarding status
                  </mfDefaultSorter>
                </th>
                <th *ngIf="activeTab == onBoardingStatus.Invited">
                  <mfDefaultSorter by="invitedDate">
                    Last invited on
                  </mfDefaultSorter>
                </th>
                <th *ngIf="activeTab == onBoardingStatus.Disabled">
                  <mfDefaultSorter by="disabledDate">
                    Date disabled
                  </mfDefaultSorter>
                </th>
                <th *ngIf="activeTab != onBoardingStatus.New">
                  <mfDefaultSorter by="enrollmentStatus">
                    Enrollment status
                  </mfDefaultSorter>
                </th>
                <th *ngIf="activeTab == onBoardingStatus.All">
                  <mfDefaultSorter by="enrollmentDate">
                    Enrollment date
                  </mfDefaultSorter>
                </th>
              </tr>
            </thead>
            <tbody class="custom__tbody">
              <tr
                *ngFor="let participant of mf.data"
                class="border__bottom__red border-top__c4d1e6 progress__bar"
              >
                <!-- for all Selected -->
                <td
                  *ngIf="activeTab == onBoardingStatus.All"
                  [routerLink]="['/coordinator/participant', participant.id]"
                >
                  <span class="no_st_en cursor__pointer outline__none">
                    {{ participant.email }}
                  </span>
                </td>

                <!-- for New Selected -->
                <td *ngIf="activeTab == onBoardingStatus.New">
                  <div>
                    <div class="form-group mb-none">
                      <input
                        type="checkbox"
                        id="{{ participant.id }}"
                        [(ngModel)]="participant.newlyCreatedUser"
                        (change)="rowCheckBoxChange($event)"
                      />
                      <label
                        *ngIf="
                          siteParticipants.participantRegistryDetail
                            .sitePermission === permission.ViewAndEdit &&
                          siteParticipants.participantRegistryDetail
                            .siteStatus !== 0
                        "
                        for="{{ participant.id }}"
                      ></label>
                      <span
                        class="no_st_en cursor__pointer outline__none"
                        [routerLink]="[
                          '/coordinator/participant',
                          participant.id
                        ]"
                      >
                        {{ participant.email }}
                      </span>
                    </div>
                  </div>
                </td>
                <td *ngIf="activeTab == onBoardingStatus.All">
                  <div
                    [ngClass]="{
                      'txt__green':
                        participant.onboardingStatus ==
                        onBoardingStatus.Invited,
                      'txt__light-gray':
                        participant.onboardingStatus ==
                        onBoardingStatus.Disabled
                    }"
                  >
                    {{ participant.onboardingStatus }}
                  </div>
                </td>

                <!-- For Invited  -->
                <td *ngIf="activeTab == onBoardingStatus.Invited">
                  <div>
                    <div class="form-group mb-none">
                      <div
                        *ngIf="
                          participant.enrollmentStatus ===
                            enrollmentStatus.YetToEnroll ||
                          participant.enrollmentStatus ===
                            enrollmentStatus.NotEligile
                        "
                      >
                        <input
                          type="checkbox"
                          id="{{ participant.id }}"
                          [(ngModel)]="participant.newlyCreatedUser"
                          (change)="rowCheckBoxChange($event)"
                        />

                        <label
                          *ngIf="
                            siteParticipants.participantRegistryDetail
                              .sitePermission === permission.ViewAndEdit &&
                            siteParticipants.participantRegistryDetail
                              .siteStatus !== 0
                          "
                          for="{{ participant.id }}"
                        ></label>
                        <span
                          class="no_st_en cursor__pointer outline__none"
                          [routerLink]="[
                            '/coordinator/participant',
                            participant.id
                          ]"
                        >
                          {{ participant.email }}
                        </span>
                      </div>
                      <div
                        *ngIf="
                          participant.enrollmentStatus !==
                            enrollmentStatus.YetToEnroll &&
                          participant.enrollmentStatus !==
                            enrollmentStatus.NotEligile
                        "
                      >
                        <label
                          [ngClass]="
                            siteParticipants.participantRegistryDetail
                              .sitePermission === permission.ViewAndEdit
                              ? 'chk_box_hidden'
                              : 'chk_box_hidden2'
                          "
                          for="{{ participant.id }}"
                        ></label>
                        <span
                          class="no_st_en cursor__pointer outline__none"
                          [routerLink]="[
                            '/coordinator/participant',
                            participant.id
                          ]"
                        >
                          {{ participant.email }}
                        </span>
                      </div>
                    </div>
                  </div>
                </td>
                <td *ngIf="activeTab == onBoardingStatus.Invited">
                  {{ participant.invitedDate }}
                </td>
                <!-- For Disabled -->
                <td *ngIf="activeTab === onBoardingStatus.Disabled">
                  <div>
                    <div class="form-group mb-none">
                      <input
                        type="checkbox"
                        id="{{ participant.id }}"
                        [(ngModel)]="participant.newlyCreatedUser"
                        (change)="rowCheckBoxChange($event)"
                      />
                      <label
                        *ngIf="
                          siteParticipants.participantRegistryDetail
                            .sitePermission === permission.ViewAndEdit &&
                          siteParticipants.participantRegistryDetail
                            .siteStatus !== 0
                        "
                        for="{{ participant.id }}"
                      ></label>
                      <span
                        class="no_st_en cursor__pointer outline__none"
                        [routerLink]="[
                          '/coordinator/participant',
                          participant.id
                        ]"
                      >
                        {{ participant.email }}
                      </span>
                    </div>
                  </div>
                </td>
                <td *ngIf="activeTab === onBoardingStatus.Disabled">
                  {{ participant.disabledDate }}
                </td>
                <!-- Belongs to all and invited and disabled  -->
                <td *ngIf="activeTab != onBoardingStatus.New">
                  <div
                    [ngClass]="{
                      'txt__green':
                        participant.enrollmentStatus ==
                        enrollmentStatus.Enrolled,
                      'txt__light-gray':
                        participant.enrollmentStatus ==
                        enrollmentStatus.Withdrawn
                    }"
                  >
                    {{ participant.enrollmentStatus }}
                  </div>
                </td>
                <!-- Belongs to all -->
                <td *ngIf="activeTab == onBoardingStatus.All">
                  {{ participant.enrollmentDate }}
                </td>
              </tr>

              <tr
                *ngIf="
                  siteParticipants.participantRegistryDetail
                    .registryParticipants.length === 0
                "
              >
                <td colspan="4" class="text-center font12 txt__light-gray">No records found</td>
              </tr>
            </tbody>

            <tfoot class="custom__tfoot">
              <tr>
                <td colspan="4">
                  <mfBootstrapPaginator></mfBootstrapPaginator>
                </td>
              </tr>
            </tfoot>
          </table>
        </div>
      </div>
    </div>

    <ng-template #addEmail>
      <div class="modal-body modal__body">
        <app-add-email
          [siteId]="siteId"
          (addEmail)="onSucceedAddEmail($event)"
          (cancel)="modalRef.hide()"
        ></app-add-email>
      </div>
    </ng-template>
    <ng-template #importEmaillist>
      <div class="modal-body modal__body">
        <app-import-email-list
          [siteId]="siteId"
          (import)="onFileImportSuccess($event)"
          (cancel)="modalRef.hide()"
        ></app-import-email-list>
      </div>
    </ng-template>
  </div>
</ng-container>
