.dropdown .dropbtn {
  color: white;
}

.dropdown-content {
  display: none;
  position: absolute;
  background-color: #fff;
  min-width: 300px;
  box-shadow: 0 1px 4px rgba(0, 0, 0, 0.21);
  z-index: 1;
  border-radius: 4px;
  margin-top: 5px;
  padding: 22px;
}

.dropdown-content a {
  float: none;
  color: black;
  padding: 12px 16px;
  text-decoration: none;
  display: block;
  text-align: left;
}

.fa-caret-down:before {
  content: "\f0d7";
  font-size: 87.5%;
  margin-left: 6px;
}

.right__bt__container {
  position: absolute;
  right: 30px;
  top: 15px;
}

.border-bottom__dee2e6 {
  border-bottom: 1px solid #dee2e6;
}

input[type="checkbox"] {
  padding: 0;
  height: initial;
  width: initial;
  margin-bottom: 0;
  display: none;
  cursor: pointer;
}

.site__participant label {
  position: relative;
  cursor: pointer;
  margin-bottom: 0;
}

.site__participant label:before {
  content: "";
  -webkit-appearance: none;
  background-color: transparent;
  border: 1px solid #dee2e6;
  padding: 7px;
  position: relative;
  vertical-align: middle;
  cursor: pointer;
  margin-right: 20px;
}

input[type="checkbox"]:checked + label::before {
  background-color: #353a3e;
  border-color: #353a3e;
}

.site__participant input:checked + label:after {
  content: "";
  display: block;
  position: absolute;
  top: 5px;
  left: 6px;
  width: 5px;
  height: 9px;
  border: solid #dee2e6;
  border-width: 0 2px 2px 0;
  transform: rotate(45deg);
}

.table.table-striped thead tr th:last-child {
  border-radius: 0 !important;
}

.subheader {
  padding: 13px 0px !important;
}
