<header>
  <div id="desktop-menu">
    <div class="bs-example bs__example">
      <nav class="navbar navbar-expand-md p-none">
        <a href="#" class="navbar-brand">
          <img
            class="mr-sm width__auto"
            src="assets/images/branding/landing-logo.png"
            alt="main logo"
          />
        </a>
      </nav>
    </div>
  </div>
</header>
<div class="page-wrap d-flex flex-row align-items-center">
  <div class="container">
    <div class="row justify-content-center">
      <div class="col-md-12 text-center">
        <span class="display-1 d-block">
          <img src="assets/svgs/ErrorIcon.svg" alt="Page not found here" />
        </span>
        <div class="custom__font_error">404</div>
      </div>
    </div>
  </div>
</div>
<app-footer></app-footer>
