name: Build participant-user-datastore
on:
  pull_request:
    paths:
    - 'common-modules/**'
    - 'participant-datastore/user-mgmt-module/**'
    - '.github/workflows/build-participant-user-datastore.yml'
jobs:
  build:
    runs-on: ubuntu-latest
    steps:
    - uses: actions/checkout@v2
    - name: Set up JDK 1.8
      uses: actions/setup-java@v1
      with:
        java-version: 1.8
    - name: Build with Maven
      run: |
          cd participant-datastore/user-mgmt-module
          mvn -B package --file pom.xml
