on:
  pull_request:
    paths:
    - 'auth-server-ws/**'
    - '.github/workflows/build-auth-server.yml'
name: Build-auth-server-ws
jobs:
  build:
    runs-on: ubuntu-latest
    steps:
    - uses: actions/checkout@v1
    - name: Set up JDK 1.8
      uses: actions/setup-java@v1
      with:
        java-version: 1.8
    - name: Build with Maven
      run: |
          cd auth-server-ws
          mvn -B package --file pom.xml
