on:
  pull_request:
    paths:
    - 'WCP/fdahpStudyDesigner/**'
    - '.github/workflows/build-studybuilder.yml'
name: Build studybuilder
jobs:
  build:
    runs-on: ubuntu-latest
    steps:
    - uses: actions/checkout@v2
    - name: Set up JDK 1.8
      uses: actions/setup-java@v1
      with:
        java-version: 1.8
    - name: Build with Maven
      run: |
          cd study-builder/fdahpStudyDesigner
          mvn -B package --file pom.xml
