on:
  pull_request:
    paths:
    - 'audit-log-module/**'
    - '.github/workflows/build-audit-log-module.yml'
name: Build-audit-log-module
jobs:
  build:
    runs-on: ubuntu-latest
    steps:
    - uses: actions/checkout@v2
    - name: Set up JDK 1.8
      uses: actions/setup-java@v1
      with:
        java-version: 1.8
    - name: Build with Maven
      run: |
          cd audit-log-module
          mvn -B package --file pom.xml
