name: response-server-checkstyle

on:
  pull_request:
    paths:
    - 'response-server-module/response-server-service/**'
    - '.github/workflows/lint-response-server.yml'
jobs:
  checkstyle_job:
    runs-on: ubuntu-latest
    defaults:
      run:
        working-directory: /response-server-module/response-server-service
    name: Checkstyle job
    steps:
    - name: Checkout
      uses: actions/checkout@v2
    - name: Run check style
      uses: nikitasavinov/checkstyle-action@master
      with:
        github_token: ${{ secrets.GITHUB_TOKEN }}
        reporter: 'github-pr-check'
        level: error
        workdir: ./response-server-module/response-server-service
        tool_name: response-server Checks
